<div id="bottom">
    <div class="bottom_inner">
        <div class="bottom_ininner">
            <div class="one_fourth">
                <aside class="widget widget_text">
                    <div class="textwidget">
                        <img style="margin:-5px 0 44px;width:204px;height:43px"  src="images/mmlogoed.png" alt="ekumbu"/>
                        <p style="padding-bottom:35px;">{{language.ekumbuDescription}}</p>
                        <aside class="widget widget_custom_contact_info_entries">
                            <div class="contact_widget_info">
                                <span class="contact_widget_name">Vila Alice</span>
                                <span class="contact_widget_address">Rua 2, Casa 51</span>
                                <span class="contact_widget_city">Luanda</span>
                                <span class="contact_widget_state">Angola</span>
                            </div>
                            <span class="contact_widget_phone">+244 923 123 456</span>
                            <span class="contact_widget_email">
                                <a href="mailto:copyright.cmsmasters@gmail.com">info@nossapps.com</a>
                            </span>
                        </aside>
                    </div>
                </aside>
            </div>
            <div class="one_fourth">
                <aside class="widget widget_recent_entries">
                    <h3 class="widgettitle">
                        <span class="widgeticon"></span>{{language.bottonUtilLinks}}
                    </h3>
                    <ul>
                        <li>
                            <a href="#" title="Our Team Members">{{language.bottonGetEkumbu}}</a>
                        </li>
                        <li>
                            <a href="#" title="How We Can Help You">{{language.buttonHowToDeposit}}</a>
                        </li>
                        <li>
                            <a href="#" title="Standard Post With an Image">{{language.bottonHowToSecureEkumbu}}</a>
                        </li>
                        <li>
                            <a href="#" title="Standard Post Without Image">{{language.bottonHowToPay}}</a>
                        </li>
                        <li>
                            <a href="#" title="Video post format">{{language.bottonEkumbuMobile}}</a>
                        </li>
                        <li>
                            <a href="#" title="Gallery Post Format">{{language.bottonEkumbuSMS}}</a>
                        </li>
                    
                    </ul>
                </aside>
            </div>
            <div class="cl_resp"></div>
            <div class="one_fourth">
                <aside class="widget widget_nav_menu">
                    <h3 class="widgettitle">
                        <span class="widgeticon"></span>{{language.bottonEkumbuCompanies}}
                    </h3>
                    <div class="menu-attorneys-container">
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#">{{language.bottonwhatisEkumbuCompany}}</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">{{language.bottonDepositTogether}}</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">{{language.bottonWorkWithUs}}</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">{{language.bottonSolutions}}</a>
                            </li>
                            
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="one_fourth">
                <aside class="widget widget_custom_contact_form_entries">
                    <h3 class="widgettitle">{{language.bottonContactForm}}</h3>
                    <div class="cmsms-form-builder">
                        <div class="box success_box widgetinfo">
                            <span>Thank You!<br />
                            Your message has been sent successfully.</span>
                        </div>
                        <script>
                            jQuery(document).ready(function () { 
                                jQuery('#form_contact_form_widget_001').validationEngine('init');
                                
                                jQuery('#form_contact_form_widget_001 a#contact_form_widget_001_wformsend').click(function () { 
                                    var form_builder_url = jQuery('#contact_form_widget_001_wurl').val();
                                    
                                    jQuery('#form_contact_form_widget_001 .loading').animate( {
                                        opacity : 1
                                    } , 250);
                                    
                                    if (jQuery('#form_contact_form_widget_001').validationEngine('validate')) { 
                                        jQuery.post(form_builder_url, { 
                                            field_003 : jQuery('#field_003').val(), 
                                            field_004 : jQuery('#field_004').val(), 
                                            formname : 'contact_form_widget_001', 
                                            formtype : 'widget' 
                                        }, function () { 
                                            jQuery('#form_contact_form_widget_001 .loading').animate( { opacity : 0 }, 250);
                                            document.getElementById('form_contact_form_widget_001').reset();
                                            jQuery('#form_contact_form_widget_001').parent().find('.widgetinfo').hide();
                                            jQuery('#form_contact_form_widget_001').parent().find('.widgetinfo').fadeIn('fast');
                                            jQuery('html, body').animate( { scrollTop : (jQuery('#form_contact_form_widget_001').offset().top - 100) }, 'slow');
                                            jQuery('#form_contact_form_widget_001').parent().find('.widgetinfo').delay(5000).fadeOut(1000);
                                        } );
                                        
                                        return false;
                                    } else { 
                                        jQuery('#form_contact_form_widget_001 .loading').animate( { opacity : 0 }, 250);
                                        
                                        return false;
                                    }
                                } );
                            } );
                        </script>
                        <form action="#" method="post" id="form_contact_form_widget_001">
                            <div class="form_info cmsms_input">
                                <label for="field_003">E-mail<span class="color_3"> *</span></label>
                                <input type="text" name="wemail" id="field_003" size="22" tabindex="12" class="validate[required,custom[email]]" />
                            </div>
                            <div class="form_info cmsms_textarea">
                                <label for="field_004">{{language.bottonContactFormQuestion}}<span class="color_3"> *</span></label>
                                <textarea name="wmessage" id="field_004" cols="28" rows="6" tabindex="13" class="validate[required,minSize[3]]"></textarea>
                            </div>
                            <div class="loading"></div>
                            <div><input type="hidden" name="contact_form_widget_001_wurl" id="contact_form_widget_001_wurl" value="php/sendmail.php" /></div><!-- Here you need to set the path to the sendmail file -->
                            <div><a href="#" id="contact_form_widget_001_wformsend" class="button_small" tabindex="14"><span>{{language.bottonContactFormSendButton}}</span></a></div>
                        </form>
                    </div>
                </aside>
            </div>
            <div class="cl"></div>
        </div>
    </div>
</div>