<div class="custom_header">
    <div class="custom_header_inner">
        <div class="header_html">
            <span class="contact_widget_phone">{{language.callus}}: +244 923 123 456</span>
            <span class="contact_widget_email">
                <a href="mailto:info@ekumbu.com">Email: info@ekumbu.com</a>
            </span>
        </div>
        <div class="wrap_social_icons">
            <ul class="social_icons">
                <li>
                    <div class="col-xs-6 col-sm-3">
                        <a class="btn btn-default btn-select">
                            <input type="hidden" class="btn-select-input" id="" name="" value="" />
                            <span class="flag-icon {{locale}}"></span>
                            <ul style="z-index: 10000;">
                                <li onclick="ChangeLanguage('pt')"><span class="flag-icon flag-icon-pt"></span> </li>
                                <li onclick="ChangeLanguage('en')"><span class="flag-icon flag-icon-us"></span> </li>
                            </ul>
                        </a>
                    </div>
                    <script >
                        $(document).ready(function () {
                            $(".btn-select").each(function (e) {
                                var value = $(this).find("ul li.selected").html();
                                if (value != undefined) {
                                    $(this).find(".btn-select-input").val(value);
                                    $(this).find(".btn-select-value").html(value);
                                }
                            });
                        }); 

                        function ChangeLanguage(langParam) {
                            $.ajax({
                                type: "PATCH",
                                url: "changelanguage",
                                async: false,
                                data: { lang: langParam },
                                success: function(response) { 
                                    window.location.href = response['destination']
                                },
                                error: function(data) {
                                    swal("{{language.errorTitle}}", "{{language.internalError}}", 'warning');
                                }
                            });
                        }
                        
                        $(document).on('click', '.btn-select', function (e) {
                            e.preventDefault();
                            $(this).find("ul").slideDown(300);
                        })

                        $(document).on('click', function (e) {
                            var target = $(e.target).closest(".btn-select");
                            if (!target.length) {
                                $(".btn-select").removeClass("active").find("ul").hide();
                            }
                        });
                    </script>
                </li>
                <li>
                    <a href="#" title="#">
                        {{language.support}}
                    </a>
                </li>
                
                <li>
                    <a href="/signup" title="#">
                        {{language.signup}}
                    </a>
                </li>
                
                <li>
                    <a href='/signin'>
                        {{language.signin}}
                    </a>
                </li>
            </ul>
            <a href="#" class="social_toggle">
                <span></span>
            </a>
            <div class="cl"></div>
        </div>
        <div class="cl"></div>
    </div>
</div>	