<div class="sidebar" style="margin-left: 29px;">
    <div class="sidebararea">
        <p style="font-size: 12px; text-align: center;"> {{language.activatedCard}}</p> 
        
        <table>
            <tr> 
                <td width="40%" style="font-size: 10px"> {{language.activatedCardnumber}} </td>
                <td style="font-size: 10px"><b>{{cardinfo.cardn}}</b></td>
            </tr>
            
            <tr> 
                <td width="40%" style="font-size: 10px"> {{language.activatedCardexpdate}}</td>
                <td style="font-size: 10px"> <b>{{cardinfo.cardexpd}}</b> </td>
            </tr>
            
            <tr> 
                <td width="40%" style="font-size: 10px"> {{language.activatedCardControlnumber}} </td>
                <td style="font-size: 10px"> <b>{{cardinfo.cardcn}}</b> </td>
            </tr>
            
            <tr> 
                <td width="40%" style="font-size: 10px"> {{language.activatedCardSecCode}} </td>
                <td style="font-size: 10px"> <b>*********</b> <a href="#" style="font-size: 10px">{{language.activatedCardShow}}</a></td>
            </tr>
        </table>
    </div>

    <div class="sidebararea" style="margin-top: 10%;">
        <p style="font-size: 12px; text-align: center;">{{language.dashboardAvailableAmount}}</p> 
        
        <table style="width: 100%">
            <tr>
                <td style="text-align: center">
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;"><span style="font-size: 20px;font-family: Arial;"><b>{{balance}}</b></span></li>
                    </ul>
                </td>
            </tr>  
        </table>
        
    </div>

    <div class="sidebararea" style="margin-top: 10%;">
        <p style="font-size: 12px; text-align: center;">{{language.dashboardTopMenuSettings}}</p> 
        
        <table>
            <tr>
                <td>
                   <a data-toggle="modal" data-target="#authorizemodal" href="#" style="font-family: 'Arial Black', Gadget, sans-serif; font-size: 12px; opacity: 0.7;">{{language.dashboardpaymentAuth}}</a>
                </td>
            </tr>
            
            <tr>
                <td>
                    <a data-toggle="modal" data-target="#blockcard" href="#" style="font-family: 'Arial Black', Gadget, sans-serif; font-size: 12px; opacity: 0.7;">{{language.dashboardpaymentBlock}}</a>
                </td>
            </tr>

        </table>
    </div>
    <div class="sidebararea" style="margin-top: 10%;">
        <p style="font-size: 12px; text-align: center;">{{language.dashboardManagment}}</p> 
        
        <table>
            <tr>
                <td>
                    <a href='/choosedpt' style="font-family: 'Arial Black', Gadget, sans-serif; font-size: 12px;opacity: 0.7;">{{language.dashboardManagmentMakDepos}}</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href='/sendmoney' style="font-family: 'Arial Black', Gadget, sans-serif; font-size: 12px;opacity: 0.7;">{{language.dashboardManagSendMoney}}</a>
                </td>
            </tr>
            
        </table>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="authorizemodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{language.dashboardModalAuthPayment}}</h4>
        </div>
        <div class="modal-body">
            <span id="smsconfirmationMessage"></span>
            <label class="switch-light switch-candy" onclick="ChangeSMSConfirmation('{{smsconf}}')">
                <input type="checkbox" id="checkSMSconfirm" {{smsconf}}>
                <strong>
                    {{language.dashboardModalAuthorize}}
                </strong>
                <span>
                    <span>{{language.dashboardModalEnable}}</span>
                    <span>{{language.dashboardModalDisable}}</span>
                    <a></a>
                </span>
            </label>
        </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="blockcard" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{language.dashboardModalBlockCard}}</h4>
        </div>
        <div class="modal-body">
            <label class="switch-light switch-candy" onclick="BlockCard('{{blocked}}')">
                <input type="checkbox" {{blocked}}>
                <strong>
                    {{language.dashboardModalBlockDescription}}
                </strong>
                <span>
                    <span>{{language.dashboardModalEnable}}</span>
                    <span>{{language.dashboardModalDisable}}</span>
                    <a></a>
                </span>
            </label>
        </div>
    </div>
  </div>
</div>

<script lang="javascript">
    function ChangeSMSConfirmation(currentStatus) {
        var statusString = 'null';

        if(currentStatus === "none") {
            statusString = "{{language.dashboardModalAuthorizeQuestionEnabled}}"
        }
        else {
            statusString = "{{language.dashboardModalAuthorizeQuestionDisabled}}"
        }

        swal({ 
            title: "{{language.dashboardModalQuestion}}", 
            text: statusString,   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Sim",   
            cancelButtonText: 'Não',
            closeOnConfirm: false }).then(function () {
                $.ajax({
                    type: "POST",
                    url: "changesmsconfirmation",
                    async: false,
                    data: { status: currentStatus },
                    success: function(response) { 
                        if(response['statusCode'] != 200) {
                            swal('Erro',response['message'], 'warning');
                        }
                        else {
                            window.location.href = 'dashboard';
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        swal("{{language.errorTitle}}", "{{language.internalError}}", "warning");
                        window.location.href = 'dashboard';
                    }
                });

            } ,function (dismiss) {
            if (dismiss === 'cancel') {
                window.location.href = 'dashboard';
            }
        });
    }
</script>

<script lang="javascript">
    function BlockCard(currentStatus) {
        var statusString = 'null';

        if(currentStatus === "none") {
            statusString = "{{language.dashboardModalBlockQuestionEnabled}}"
        }
        else {
            statusString = "{{language.dashboardModalBlockQuestionDisabled}}"
        }

        swal({ 
            title: "{{language.dashboardModalQuestion}}", 
            text: statusString,   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "{{language.dashboardModalYes}}",   
            cancelButtonText: '{{language.dashboardModalNo}}',
            closeOnConfirm: false }).then(function () {
                $.ajax({
                    type: "POST",
                    url: "changeblockstatus",
                    async: false,
                    data: { status: currentStatus },
                    success: function(response) { 
                        if(response['statusCode'] != 200) {
                            swal('Erro',response['message'], 'warning');
                        }
                        else {
                            window.location.href = 'dashboard';
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        swal("{{language.errorTitle}}", "{{language.internalError}}", "warning");
                        window.location.href = 'dashboard';
                    }
                });

            } ,function (dismiss) {
            if (dismiss === 'cancel') {
                window.location.href = 'dashboard';
            }
        });
    }
</script>