<div class="centerCard" style="margin-bottom: 2%;">
    <div class="btn-box-row row-fluid">
    
    <table style="width: 100%; border-collapse: separate; border-spacing: 10px;">
        <tr>
            <td width="33%" style="font-size: 18px;" align="center">
                <div class="circle" style="margin-bottom: 4%">
                    <img src='images/avatarp.png' alt="Ekumbu" style="float: center; text-align: center; margin-left: 0%; margin-top: 20%;"/>
                </div> 
            
                <span style="margin-top: 4%;">{{language.dashboardHi}}{{username}}</span>	
            </td>
            
            <td width="33%" style="background-color: white; border: 1px black; border-style: solid;" align="center" >
                <table style="width: 65%; border-spacing: 30px;border-collapse: separate;">
                    <tr>
                        <td align="left" >
                            <a href='/choosedpt'><img src='images/deposit.png' alt="Ekumbu"/><span style="margin-left: 10%">{{language.dashboardMenuDeposit}}</span></a>
                        </td>
                        <td align="right" style="margin-left: 0%;">
                            <a href="/inittransf"><img src='images/transfer.png' alt="Ekumbu" /><span style="margin-left: 5%">{{language.dashboardMenuTransfer}}</span></a>
                        </td>
                        <td align="right" style="margin-left: 0%;">
                            <a href="/sendmoney"><img src='images/sendm.png' alt="Ekumbu" /><span style="margin-left: 0%">{{language.dashboardMenuSend}}</span></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    
    </table>
        
    </div>
    
</div>