<footer id="footer" role="contentinfo">
    <div class="footer_outer_wrap">
        <div class="footer_outer">
            <div class="footer_inner">
                <ul class="social_icons">
                    <li>
                        <a target="_blank" href="#" title="#">
                            <img src="images/facebook.png" alt="#" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#" title="#">
                            <img src="images/twitter.png" alt="#" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#" title="#">
                            <img src="/images/rss.png" alt="#" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#" title="#">
                            <img src="/images/dribbble.png" alt="#" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#" title="#">
                            <img src="images/linkedin.png"" alt="#" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#" title="#">
                            <img src="images/behance.png" alt="#" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#" title="#">
                            <img src="images/pinit.png" alt="#" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#" title="#">
                            <img src="images/flickr.png" alt="#" />
                        </a>
                    </li>
                </ul>
                
                <ul style="display: flex; list-style-type: none;">
                    <li>
                        <span class="copyright">&copy; 2016 NossApps</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>