<!-- _________________________ Start Header _________________________ -->
<header id="header" class="header_scrolled">
    <div class="header_inner navi_scrolled">
        <div class="header_wrap">
            <div class="logo_wrap">
                <a href="/" title="Ekumbu" class="logo">
                    <img src="images/mmlogoed.png" alt="Ekumbu" />
                </a>
            </div>
            <a class="responsive_nav" href="javascript:void(0);"><span></span></a>
            <div class="cl_resp"></div>
    
<!-- _________________________ Start Navigation _________________________ -->
            <nav role="navigation">
                <ul id="navigation">
                    <li class="menu-item {{selectedHome}}">
                        <a href="/">
                            <span>{{language.mainMenuhome}}</span>
                        </a>
                    </li>
                    <li class="menu-item dropdown">
                        <a>
                            <span>{{language.mainMenuservices}}</span>
                        </a>
                        <ul>
                            <li class="menu-item">
                                <a href="about-us.html">
                                    <span>{{language.mainMenupayments}}</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="testimonials.html">
                                    <span>{{language.mainMenudeposits}}</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="open-testimonial.html">
                                    <span>{{language.mainMenutransfers}}</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="widgets-sidebars.html">
                                    <span>{{language.mainMenusend}}</span>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="menu-item dropdown {{selectedDevelopers}}"> 
                        <a href='/developers' >
                            <span>{{language.mainMenuprogrammers}}</span>
                        </a>
                        <ul>
                            <li class="menu-item">
                                <a href="about-us.html">
                                    <span>{{language.mainMenudocumentation}}</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="testimonials.html">
                                    <span>{{language.mainMenuapistatus}}</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="open-testimonial.html">
                                    <span>{{language.mainMenuapireference}}</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="widgets-sidebars.html">
                                    <span>{{language.mainMenubegin}}</span>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="menu-item {{selectedMerchants}}">
                        <a href="/merchants">
                            <span>{{language.mainMenumerchants}}</span>
                        </a>
                        
                    </li>
                    
                    <li class="menu-item">
                        <a href="contact-us.html">
                            <span>{{language.mainMenucontactus}}</span>
                        </a>
                    </li>
                </ul>
                <div class="cl"></div>
            </nav>
<!-- _________________________ Finish Navigation _________________________ -->
            <div class="cl"></div>
        </div>
    </div>
    <div class="cl"></div>
</header>