<script src="js/accounting.js"></script>

<style>
    section {
        width: 100%;
        padding: 2%;
        border: 1px;
    }

    .date {
        float: left;
        margin-left: 0;
        font-size: 14px;
        text-align: center;
    }

    .content {
        float: center;
        margin-left: 10%;
        font-size: 13px;
    }

    .amount {
        margin-top: -5%;
        float: right;
        font-size: 16px;
    }

    .Crow {
        width: 100%;
        list-style: none outside none;
        padding: 0 1% 1% 1%;
        margin-top: 2%;
    }

    .Crow:hover {
        background-color:#DCDCDC;
        border-left: 2px black;
        border: 2px black;
    }

    ul.Crow li {
        list-style-type: none;
        display: block;
        cursor: pointer;
    }

    ul.Crow {
        color: black;
    }
    ul.Crow:nth-child(even) {
        background-color:	#F5F5F5;
    }
    ul.Crow:nth-child(even):hover {
        background-color: #DCDCDC;
    }

    .showdetails {
        visibility: visible;
    }

    .hideDetails {
        visibility: hidden;
    }

</style>

<section id="table" >
    <a href=""> <p id="state"><b>{{language.simpleTableViewTitle}}</b></p> </a>
     {{#if hasTransactions}}
        {{#each transactions}}
            <ul class="Crow" id="{{details.id}}" onclick='getDetails(this.id)'>
                <a href="#" class="togglelink" style="color: black">
                    <li class="date" >
                        <div style="text-align: center">
                            {{date}}
                        </div>
                        <div style="text-align: center; margin-top: -1%;">
                            {{hour}}
                        </div>
                    </li>

                    <li class="content">
                        <div>
                            {{source_info.name}}
                        </div>
                        <div>
                            {{TypeTranslator type}} - {{TypeTranslator status}}
                        </div>
                    </li>

                    <li class="amount">
                        <div>
                            <span id="amount">{{amount}}</span>
                        </div>
                    </li>

                    <li>
                        <div class="toggle" style="display: block;">
                            <p>{{amount}}</p>
                        </div>
                    </li>
                </a>
            </ul>
        {{/each}}
    {{else}}
        <p style="text-align: center">{{language.simpleTableViewNoRecord}}</p>
    {{/if}}

    <div style="text-align: center;"><a href='allevents' style="text-align: center; font-size: 10px">{{language.simpleTableViewSeeAll}}</a></div>
</section>

<script type="text/javascript">
    function ShowDetails(item) {
        $(item.find('contentDetails')).addClass("showdetails");
    }

    function getDetails(did) {
        $.ajax({
            type: "GET",
            url: "getevtdetail",
            data : {'did' : did},
            async: false,
            success: function(response) { 
                if(response['details'].type == 'deposit') {
                    $("#dporigin").html(response['details'].sourceInfo.type + " x-" + response['details'].sourceInfo.last4)
                    $("#dporigindate").html(response['details'].dateProcess)
                    $("#dpttpaid").html(response['details'].amountCharged)
                    $("#dpttreceived").html(response['details'].amountReceived)
                    $("#dpfee").html(response['details'].fee)
                    $("#dprate").html(response['details'].rate)
                    $("#dpTrackingID").html(response['details'].trackingID)
                    $("#dpstatus").html(response['details'].status)
                    
                    $("#DepositModal").modal()
                }
                else if(response['details'].type == 'payment') {

                    $("#pysourceName").html(response['details'].merchantInfo.name)
                    $("#pyamount").html(response['details'].total)
                    $("#pydateProcessed").html(response['details'].dateProcess)
                    $("#pyTrackingID").html(response['details'].trackingID)
                    $("#pyStatus").html(response['details'].status)
                    $("#pyCardUsed").html(response['details'].cardNumber)

                    $("#PaymentModal").modal()
                }
                
                else if(response['details'].type == 'transfer') {
                    $("#trsekulast4").html(response['details'].senderInfo.cardLast4)
                    $("#trsdescription").html(response['details'].description)
                   
                    $("#trsdstName").html(response['details'].receiverInfo.name)
                    $("#trsdstInstitutionName").html(response['details'].receiverInfo.institutionName)

                    $("#trsTrackingID").html(response['details'].trackingID)
                    $("#trsStatus").html(response['details'].status)
                    $("#trsDateProcessed").html(response['details'].dateProcess)
                    
                    $("#trsTotalSent").html(response['details'].amountSent)
                    $("#trsTotalWTax").html(response['details'].amountWTax)
                    $("#trsTotalReceived").html(response['details'].amountReceived)
                    $("#trsTaxa").html(response['details'].fee)
                    $("#trsRate").html(response['details'].rate)

                    if(response['docurl'] != 'none') {
                        $('#doclink').show();
                        $('#doclink').attr('href', response['docurl']);
                    }
                    else {
                        $('#doclink').hide();
                    }

                    if(response['details'].statusInfo.statusMessage != 'none') {
                        $("#statusInfoMessage").html(response['details'].statusInfo.statusMessage)
                        $('#statusInfo').show();   
                    }
                    else {
                        $("#statusInfoMessage").html('')
                        $('#statusInfo').hide(); 
                    }
                    $("#TransferModal").modal()
                }
                
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("{{language.internalError}}")
            }
        });
    }
        
    $(document).ready(function () {
        $('.toggle').hide();
        $('a.togglelink').on('click', function (e) {
            e.preventDefault();
            var elem = $(this).next('.toggle')
            $('.toggle').not(elem).hide('slow');
            elem.toggle('slow');
        });
    });
    
</script>

<!-- Modals -->
<div id="DepositModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{language.simpleTableViewModalTransactionDetails}}</h4>
      </div>
      <div class="modal-body">
        <table style="width: 100%">
            <tr>
                <td>
                    <b>{{language.simpleTableViewModalTotalTransfered}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewModalTotalTobeTransfered}} <span style="font-weight: 100" id="dpttpaid"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalTaxPaid}} <span id="dpfee"></span></li>
                    </ul>
                </td>

                <td>
                    <b>{{language.simpleTableViewModalTransferDetails}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewModalTotalReceived}} <span id="dpttreceived"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalRate}} <span id="dprate"></span></li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>
                    <b>{{language.simpleTableViewModalDepositStatus}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewModalTrackingID}} <span id="dpTrackingID"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalStatus}} <span id="dpstatus"></span></li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>
                    <b>{{language.simpleTableViewModalDepositSource}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewModalDepositFrom}} <span id="dporigin"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModaldate}} <span id="dporigindate"></span></li>
                    </ul>
                </td>
            </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{language.simpleTableViewModalExitButton}}</button>
      </div>
    </div>

  </div>
</div>

<div id="PaymentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{language.simpleTableViewModalTransactionDetails}}</h4>
      </div>
      <div class="modal-body">
        <table style="width: 100%">
            <tr>
                <td>
                    <b>{{language.simpleTableViewModalPayment}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewModalPaymentFor}} <span style="font-weight: 100" id="pysourceName"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalPaymentAmount}} <span id="pyamount"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModaldate}} <span id="pydateProcessed"></span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 60%">
                    <b>{{language.simpleTableViewModalDetails}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewModalTrackingID}} <span id="pyTrackingID"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalStatus}} <span id="pyStatus"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalEkumbuCardUsed}} <span id="pyCardUsed"></span></li>
                    </ul>
                </td>
            </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{language.simpleTableViewModalExitButton}}</button>
      </div>
    </div>

  </div>
</div>

<div id="TransferModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{language.simpleTableViewModalTransactionDetails}}</h4>
      </div>
      <div class="modal-body">
        <table style="width: 100%">
            <tr>
                <td>
                    <b>{{language.simpleTableViewModalSendSource}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewModalSentFrom}} <span style="font-weight: 100" id="trsekulast4"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalDescription}} <span id="trsdescription"></span></li>
                    </ul>
                </td>

                <td>
                    <b>{{language.simpleTableViewModalAmountDestination}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewModalSentTo}} <span id="trsdstName"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalReceiverBank}} <span id="trsdstInstitutionName"></span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 60%">
                    <b>{{language.simpleTableViewModalTransferStatus}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewModalTrackingID}} <span id="trsTrackingID"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalStatus}} <span id="trsStatus"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalSentOnDate}} <span id="trsDateProcessed"></span></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="width: 60%">
                    <b>{{language.simpleTableViewModalAmountDetails}}</b>
                    <ul style="list-style: none outside none;">
                        <li style="list-style-type: none;">{{language.simpleTableViewTotalSent}} <span id="trsTotalSent"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewTotalWithTax}} <span id="trsTotalWTax"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewTotalReceived}} <span id="trsTotalReceived"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewTax}} <span id="trsTaxa"></span></li>
                        <li style="list-style-type: none;">{{language.simpleTableViewModalRate}}  <span id="trsRate"></span></li>
                    </ul>
                </td>
            </tr>
        </table>
      </div>
      <div id="statusInfo" style="padding: 2%; background-color: #FEEFB3">
        <span id="statusInfoMessage"></span>
      </div>
      <div class="modal-footer">
        <a id="doclink" target="_blank">recibo.pdf</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{language.simpleTableViewModalExitButton}}</button>
      </div>
    </div>

  </div>
</div>