.btn-select {
   position: relative;
    padding: 0;
    border-radius: 0;
}

.btn-select .btn-select-value {
    padding: 6px 12px;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.btn-select .btn-select-arrow {
    float: right;
    top: 0;
}

.btn-select ul {
    display: none;
    background-color: #f4f3ef;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}

.btn-select ul li:hover {
    background-color: #f4f4f4;
}

.flag-icon {
  margin-right: 10px;
}