
pre {
  color: black;
  padding: 10px 16px;
  border-radius: 0px;
  counter-reset: line;
  line-height: 7px;
}
pre span {
  display: block;
}

pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 0px solid #ddd;
  padding: 0 .1em;
  margin-right: .5em;
  color: #888
}

indent {
  left: 10px;
}

.variable {
  color: black
}

.reservedWord {
  color: rgb(147,112,219)
}

.argument {
  color: rgb(10, 153, 0)
}

.classMethod {
  color: rgb(11, 144, 244)
}

.coments {
  opacity: 0.5
}

.command {
  color: rgb(10, 153, 0)
}

.argumentCommand {
  color : rgb(183, 1, 1)
}