
.merchantsArea {
    background-color: #f4f3ef;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 0%;
    max-width: 100%;
    width: 100% !important;
    margin: 0 auto;
    overflow: hidden;
    font-family: roboto;
}