/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
    height: 100%;
}

.failValidation{
    background-color: red;
    color: red;
}

/*form styles*/
#msform {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background-color: #F7F7F7;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    padding: 10px 5px;
    margin: 10px 5px;
    background: #5C8F5C;

    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    font-weight:normal;
    line-height:20px;
    cursor:pointer;
    background-repeat:repeat-x;
    background-position:top left;

    -webkit-transition:background .3s ease-in,color .3s ease-in;
    -moz-transition:background .3s ease-in,color .3s ease-in;
    -ms-transition:background .3s ease-in,color .3s ease-in;
    -o-transition:background .3s ease-in,color .3s ease-in;
    transition:background .3s ease-in,color .3s ease-in;
}
#msform .action-button:hover, #msform .action-button:focus {
    color:#ffffff;
    background-color:#000000;
    background-repeat:repeat-x;
    background-position:bottom left;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color:black;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #5C8F5C;
    color: white;
}