#graph {
    position:relative;
    margin:80px;
    width:220px; height:220px;
}
#graph canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}
#graph span {
    color:#555;
    display:block;
    line-height:220px;
    text-align:center;
    width:220px;
    font-family:sans-serif;
    font-size:40px;
    font-weight:100;
    margin-left:5px;
}
