.circle {
  background-color: gray;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-bottom: 2%;
  text-align: center;
  margin: 0 auto;
}

.circleW {
  text-align: center;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-bottom: 2%;
  border-style: solid;
  border: 1px black;
}

.sidebararea {
	height: 100%;
	width: 100%;
	background-color: white;
	padding: 2%;
	border: 1px black;
	border-style: solid;
}

.searchbox { 
	height: 35px;
	width: 330px;
	margin-left: 6px;
}

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #f4f3ef;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #f4f3ef;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}