<div style="width:100%">
    <h5 id="addbtitle">Selecione o seu Banco </h5>
    <div id="addacSpinner" style="margin:0 auto;text-align:center;visibility:hidden;">
        <i class="fa fa-spinner fa-spin" style="font-size:28px;"></i>
    </div>
</div>

<form id="msform">
    <fieldset style="width: 60%">
        {{#each banks}}
            <a href="#" class="next" style="display:inline-flex;border:0px solid black;padding:2%;" id="slbank" onclick="SelectBankNane('{{name}}');">
                <img src="{{logo}}" />
            </a>
        {{/each}}
    </fieldset>
    <fieldset style="width: 50%">
        <div style="margin-bottom: 3%; text-align: center">
            <span id="validationError" style="color: red;font-size: 11px"></span>
        </div>

        <div style="width: 100%;" id="passwordtxtcover">
            <input type="text" name="accnumb" id="accnumb" placeholder="Número da Conta" />
            <span id="txtnumbermsg"></span>
        </div>
		
        <div style="width: 100%;" id="cpasswordtxtcover"> 
            <input type="text" name="acciban" id="acciban" placeholder="IBAN" />
            <span id="txtibanpmsg"></span>
        </div>
		
        <h3 class="fs-subtitle">
            <b>Clicando em Condordar e Enviar, estará aceitando as politicas do contrato com Ekumbu</b>
        </h3>

        <input type="button" id="linkbac" value="Condordar e Enviar"/>        
    </fieldset>
    <fieldset style="width: 50%">
        conta ligada com sucesso já pode começar a comprar com o seu cartão Ekumbu
    </fieldset>
</form>
<a href="/dashboard" >Cancelar</a>

<script>
    var bname;
    
    $(".next").click(function(){

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //show the next fieldset
        next_fs.show(); 
        $("#addbtitle").text("Ligar Conta Bancária");

        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 70)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'transform': 'scale('+scale+')'});
                next_fs.css({'left': left, 'opacity': opacity});
            }, 
            duration: 800, 
            complete: function(){
                current_fs.hide();
                animating = false;
            }, 
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $('#linkbac').click(function() {

        var intv = setInterval(LinkAccount, 1000);
        $('#addacSpinner').css('visibility', 'visible');
        
        function LinkAccount() {

            $.ajax({
                type: "PATCH",
                url: "ptchbacc",
                async: false,
                data: { bankname: bname, accnumber: $('#accnumb').val(), acciban: $('#acciban').val() },
                success: function(response) { 
                    clearInterval(intv);
                    $('#addacSpinner').css('visibility', 'hidden');

                    if(response['statusC'] != 200 ) {
                        $('#validationError').text( response['message'] );
                        return;
                    }
                    else {
                        
                    }
                },
                error: function(data) {
                    clearInterval(intv);
                    $('#addacSpinner').css('visibility', 'hidden');
                    $('#validationError').text = "Occoreu um erro interno por favor tente mais tarde"
                }
            });
        }
    })

    function SelectBankNane(name) {
        bname = name;
    }
</script>