<script>
    

    function GetAllEvents(callback) {
        $.ajax({
            type: "GET",
            url: "chsearchparam",
            async: false,
            data: {type: $("#cboType").val(), dateRange: $("#daterange").val()},
            success: function(response) { 
                if(response['statusCode'] == 200) {
                    callback(response)
                }
                else {
                    callback(null)
                }
            },
            error: function(data) {
                callback(null)
            }
        });
    }

    $(document).ready(function(){
        $('.input-daterange-datepicker').daterangepicker({
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse',
            applyLabel: "Aplicar",
            cancelLabel: "Cancelar",
            orientation: "bottom auto",
            startDate: "{{startDate}}",
            endDate: "{{endDate}}",
            "locale": {
                "format": "MM-DD-YYYY",
                "separator": "-",
                "fromLabel": "de",
                "toLabel": "até",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "Don",
                    "Seg",
                    "Ter",
                    "Qua",
                    "Qui",
                    "Sex",
                    "Sab"
                ],
                "monthNames": [
                    "Janeiro",
                    "Fevereiro",
                    "Março",
                    "Abril",
                    "Maio",
                    "Junho",
                    "Jullho",
                    "Agosto",
                    "Setembro",
                    "Octubro",
                    "Novembro",
                    "Dezembro"
                ],
                "firstDay": 1
            }
        });

        $("#cboType").val("{{option}}");

        $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
            GetAllEvents(function(data) {
                if(data != null) {
                    document.location.reload()
                }
                else {
                    alert("Occoreu um erro interno por favor tente mais tarde");
                }
            });
        });
        
        $("#cboType").on('change', function(event) {
            GetAllEvents(function(data) {
                if(data != null) {
                    document.location.reload()
                }
                else {
                    alert("Occoreu um erro interno por favor tente mais tarde");
                }
            });
        })
    });
</script>


<div style="width:100%">
    <h5 id="addbtitle">Transações</h5>
    <div id="addacSpinner" style="margin:0 auto;text-align:center;visibility:hidden;">
        <i class="fa fa-spinner fa-spin" style="font-size:28px;"></i>
    </div>
</div>

<div style="width:100%; padding: 2%; border:1px black; border-style: solid;">
    <table style="width:100%; border-collapse: collapse;">
        <tr>
            <td style="width: 50%; padding: 6px;">
                <select style="width: 100%; height: 45px; border:1px black; border-style: solid;" id="cboType">
                    <option value="all">Todos</option>
                    <option value="payment">Pagamentos</option>
                    <option value="deposit">Depositos</option>
                    <option value="transfer">Transferencias</option>
                </select>
            </td>

            <td style="width: 50%; padding: 6px;">
                <input class="form-control input-daterange-datepicker" style="width: 100%; height: 45px; border:1px black; border-style: solid;" readonly type="text" name="daterange" id="daterange" /> </div>
            </td>
        </tr>
    </table>
</div>

<style>
    .section {
        width: 100%;
        padding: 2%;
        background: white;
        
        border: 1px solid #000000;    
        margin-top: 1%;
    }

    .date {
        float: left;
        margin-left: 0;
        font-size: 14px;
        text-align: center;
    }

    .content {
        float: center;
        margin-left: 10%;
        font-size: 13px;
    }

    .amount {
        margin-top: -5%;
        float: right;
        font-size: 16px;
    }

    .Crow {
        width: 100%;
        list-style: none outside none;
        padding: 0 1% 1% 1%;
        margin-top: 2%;
    }

    .Crow:hover {
        background-color:#DCDCDC;
        border-left: 2px black;
        border: 2px black;
    }

    ul.Crow li {
        list-style-type: none;
        display: block;
        cursor: pointer;
    }

    ul.Crow {
        color: black;
    }
    ul.Crow:nth-child(even) {
        background-color:	#F5F5F5;
    }
    ul.Crow:nth-child(even):hover {
        background-color: #DCDCDC;
    }

    .showdetails {
        visibility: visible;
    }

    .hideDetails {
        visibility: hidden;
    }

    .bevelBox
    {
        width: 200px;
        height: 50px;
        
        background: #666666;
        
        border: 1px solid #000000;    
        
        -moz-box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
        -webkit-box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
        box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    }

</style>

<div id="table" class="section">
    {{#if hasTransactions}}
        {{#each transactions}}
            <ul class="Crow" id="{{details.id}}" onclick='getDetails(this.id)'>
                <a href="#" class="togglelink" style="color: black">
                    <li class="date" >
                        <div style="text-align: center">
                            {{date}}
                        </div>
                        <div style="text-align: center; margin-top: -1%;">
                            {{hour}}
                        </div>
                    </li>

                    <li class="content">
                        <div>
                            {{source_info.name}}
                        </div>
                        <div>
                            {{TypeTranslator type}} - {{TypeTranslator status}}
                        </div>
                    </li>

                    <li class="amount">
                        <div>
                            <span id="amount">{{amount}}</span>
                        </div>
                    </li>
                </a>
            </ul>
        {{/each}}
    {{else}}
        <p style="text-align: center">Não transações feitas de momento.</p>
    {{/if}}
</div>


<a href="/dashboard" >voltar</a>

