<p style='text-align: center; font-family: "Times New Roman", Times, serif;font-size: 30px'>{{language.depositChooseType}}</p>
 <div style="width: 100%"> 
    <table border="0px" style="width:50%;border-collapse:separate;border-spacing:5px; margin: 0 auto">
        <tr>
            <td style="width: 50%;text-align: center" >
                <a href="#" id="goToccdp"> <img src="/images/ccd.ico" style="cursor: pointer; width: 156px; height: 156px"> </a>
            </td>

            <td style="width: 50%;text-align: center">
                <a href="#" id="gotoetopup"><img src="/images/e-topuplogo.png" style="cursor: pointer;width: 170px; height: 156px"></a>
            </td>
        </tr>

        <tr>
            <td style="width: 50%;text-align: center" >
                Visa/Mastercad
            </td>

            <td style="width: 50%;text-align: center">
                E-TopUp
            </td>
        </tr>
    </table>
</div>
<a href="/dashboard" >{{language.cancel}}</a>

<script>
    $("#goToccdp").click(function(){
        $.ajax({
            type: "POST",
            url: "chooseDpType",
            async: false,
            data: { type: 'cc' },
            success: function(response) { 
                if(response['statusCode'] == 200) {
                    window.location.href = response['message']
                }
                else {
                    //TODO Change to swa
                    alert(response['message'])
                }
            },
            error: function(data) {
                alert("{{language.internalError}}")
            }
        });
    })

    $("#gotoetopup").click(function(){
        $.ajax({
            type: "POST",
            url: "chooseDpType",
            async: false,
            data: { type: 'etopup' },
            success: function(response) { 
                if(response['statusCode'] == 200) {
                    window.location.href = response['message']
                }
                else {
                    //TODO Change to swa
                    alert(response['message'])
                }
            },
            error: function(data) {
                alert("{{language.internalError}}")
            }
        });
    })
</script>