<div class="span8" style="margin-left: -4%">
    <div class="content">
        {{> DashboardTopPanel}}
        
        <div class="module">
            {{> SimpleTableView}}
            
        </div>
        
        <!--/.module-->
    </div>
    <!--/.content-->
</div>