<div id="middle">
    <div class="headline" style="background-color:#fbfbfb;">
        <div class="headline_inner">
            <div class="fl">
                <h1>{{language.programmerTitle}}</h1>
            </div>
    <!-- _________________________ Start Breadcrumbs _________________________ -->
            <div class="cmsms_breadcrumbs">
                <a href="/" class="cms_home">Home</a>
                <span class="breadcrumbs_sep"><span></span></span>
                <span>{{language.programmerTitle}}</span>
            </div>
    <!-- _________________________ Finish Breadcrumbs _________________________ -->
        </div>
    </div> 
    
    <div class="content_wrap r_sidebar">
        <div id="content" role="main">
            <div class="entry">
                <div class="entry-content">
                    <div class="cmsms_cc"></div>
                </div>
            </div>
            <div class="one_first first_column" data-folder="column" data-type="">
                <div data-folder="text" data-type="">
                    <h2 style="text-align: center">{{language.programmerSubTitle}}</h2>
                    <p style="text-align: center; font-size: 20px">{{language.programmerSubTitle2Part1}} <strong>{{language.ekumbu}}</strong>{{language.programmerSubTitle2Part2}}</p>
                </div>
            </div>

            <div class="one_first" id="custom-posts-tabs-3">
                <div class="tab lpr">
                    <ul class="tabs active">
                        <li class="current" style="width: 80px"> 
                            <a href="#">
                                <span>Curl</span>
                            </a>
                        </li>
                        <li style="width: 80px">
                            <a href="#"><span>Javascript</span></a>
                        </li>
                        <li style="width: 80px">
                            <a href="#">
                                <span>Java</span>
                            </a>
                        </li>
                        <li style="width: 80px">
                            <a href="#">
                                <span>Node</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab_content">
                        <div class="tabs_tab">
                            <div class="code" data-language="curl">
                                <pre>
                                    <span><b class="command">curl</b> <label class="classMethod">https://api.ekumbu.com/v1/charge -H "Authorization: Bearer sc_test_NlMlDVx95GyH0EjDEcRVlVwHq"</label> \</span>
                                    <span><label class="argument">-d</label> <label class="argumentCommand">amount</label>=<label class="argument">2000</label> \</span>
                                    <span><label class="argument">-d</label> <label class="argumentCommand">source</label>=<label class="argument">tok_189gHw2eZvKYlo2CsxKtZ6qf</label> \</span> 
                                    <span><label class="argument">-d</label> <label class="argumentCommand">description</label>="<label class="argument">Charge for customer@example.com</label>"</span>                     
                                    <span><label class="argument">-d</label> <label class="argumentCommand">livemode</label>=<label class="argument">false</label> \</span>
                                </pre>
                            </div>
                        </div>
                        <div class="tabs_tab">
                            <div class="code" data-language="javascript">
                               <pre>
                                   <span><b class="reservedWord">var</b> <label class="variable">ekumbu</label> = <b class="reservedWord">new</b> <label class="classMethod">Ekumbu</label>('<label class="argument">sc_test_NlMlDVx95GyH0EjDEcRVlVwHq</label>');</span>
                                   <span>ekumbu.tokens.<b class="classMethod">create</b>('<label class="argument">2423423200000001</label>', '<label class="argument">5</label>', '<label class="argument">2019</label>', '<label class="argument">0.0.0.0</label>', '<label class="argument">false</label>', <b class="reservedWord">function</b>(tokenR) {</span>
                                   <span><label class="coments" style="margin-left: 4%">// tokenR has the token response</label></span>
                                   <span><label style="margin-left: 4%">ekumbu.payments.<b class="classMethod">create</b>(tokenR.<b class="classMethod">tokenid</b>, <label class="argument">10</label>, '<label class="argument">desc</label>', '<label class="argument">false</label>', <b class="reservedWord">function</b>(chargeR) {</label></span>
                                   <span><label class="coments" style="margin-left: 4%">// chargeR has the payment response</label></span>
                                   <span><label style="margin-left: 4%">}</label></span>
                                   <span>}</span>
                                </pre>
                            </div>
                        </div>

                        <div class="tabs_tab tab_latest">
                            <div class="code" data-language="php">
                                <pre >
                                        <span><label class="classMethod">Payment</label> payment = <b class="reservedWord">new</b> <label class="classMethod">Payment()</label>;</span>
                                        <span><label class="classMethod">HashMap</label>&lt;<b class="reservedWord">String</b>, <b class="reservedWord">Object</b>&gt; params = <b class="reservedWord">new</b> <label class="classMethod">HashMap</label>&lt;<b class="reservedWord">String</b>, <b class="reservedWord">Object</b>&gt;();</span>
                                        <span><label class="classMethod">RequestOptions</label> opt = <label class="classMethod">RequestOptions</label>.<label class="classMethod">builder()</label>.<label class="classMethod">setApiKey</label>("<label class="argument">sc_test_NlMlDVx95GyH0EjDEcRVlVwHq</label>").<label class="classMethod">builder()</label>;</span>
                                        <span>params.<label class="classMethod">put</label>('<label class="argument">source</label>', "<label class="argument">tok_189gHw2eZvKYlo2CsxKtZ6qf</label>");</span>
                                        <span>params.<label class="classMethod">put</label>('<label class="argument">amount</label>', <label class="argument">30</label>);</span>
                                        <span>params.<label class="classMethod">put</label>('<label class="argument">description</label>', "<label class="argument">testing api payment</label>");</span>
                                        <span>params.<label class="classMethod">put</label>('<label class="argument">livemode</label>', "<label class="argument">false</label>");</span>
                                        <span>payment.<label class="classMethod">Charge</label>(params, opt);</span>
                                    
                                </pre>
                                
                            </div>
                        </div>

                        <div class="tabs_tab tab_latest">
                            <div class="code" data-language="javascript"> 
                                <pre>
                                    <span><b class="reservedWord">const</b> <label class="variable">Ekumbu</label> = <b class="classMethod">require</b>('<label class="argument">ekumbu</label>');</span>
                                    <span><b class="reservedWord">var</b> <label class="variable">ekumbu</label> = <b class="reservedWord">new</b> <label class="classMethod">Ekumbu</label>('<label class="argument">sc_test_NlMlDVx95GyH0EjDEcRVlVwHq</label>');</span>
                                    <span>ekumbu.tokens.<b class="classMethod">create</b>('<label class="argument">2423423200000001</label>', '<label class="argument">5</label>', '<label class="argument">2019</label>', '<label class="argument">0.0.0.0</label>', '<label class="argument">false</label>', <b class="reservedWord">function</b>(tokenR) {</span>
                                    <span><label class="coments" style="margin-left: 4%">// tokenR has the token response</label></span>
                                    <span><label style="margin-left: 4%">ekumbu.payments.<b class="classMethod">create</b>(tokenR.<b class="classMethod">tokenid</b>, <label class="argument">10</label>, '<label class="argument">desc</label>', '<label class="argument">false</label>', <b class="reservedWord">function</b>(chargeR) {</label></span>
                                    <span><label class="coments" style="margin-left: 4%">// chargeR has the payment response</label></span>
                                    <span><label style="margin-left: 4%">}</label></span>
                                    <span>}</span>
                                </pre>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="one_first first_column" data-folder="column" data-type="">
                <div data-folder="text" data-type="">
                    <h2 style="text-align: center">{{language.programmersComunity}}</h2>
                    <p style="text-align: center">{{language.programmerComunityDescription}}</p>
                </div>
            </div>  

            <div class="one_first first_column">
                <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; list-style:none;">
                    <li style="float: left; list-style:none; padding-left: 4%">
                        <img width="165" height="106" src="images/images/bigfish_logo.png" class="cmsms_clients_img" alt="bigfish_logo" />
                    </li>
                    <li style="float: left; list-style:none; padding-left: 4%">
                        <img width="165" height="106" src="images/images/clevarminds_logo.png"  class="cmsms_clients_img" alt="clevarminds_logo" />
                    </li>
                    <li style="float: left; list-style:none; padding-left: 4%">
                        <img width="165" height="106" src="images/images/clockstone_logo.png" class="cmsms_clients_img" alt="clockstone_logo" />
                    </li>
                    <li style="float: left; list-style:none; padding-left: 4%">
                        <img width="165" height="106" src="/images/images/halsey_logo.png" class="cmsms_clients_img" alt="halsey_logo" />
                    </li>
                    <li style="float: left; list-style:none; padding-left: 4%">
                        <img width="165" height="106" src="images/images/increase_logo.png" class="cmsms_clients_img" alt="increase_logo" />
                    </li>
                    <li style="float: left; list-style:none; padding-left: 4%">
                        <img width="165" height="106" src="images/images/magique_logo.png" class="cmsms_clients_img" alt="magique_logo" />
                    </li>
                    <li style="float: left; list-style:none; padding-left: 4%">
                        <img width="165" height="106" src="images/images/newgate_logo.png" class="cmsms_clients_img" alt="newgate_logo" />
                    </li>
                    <li style="float: left; list-style:none; padding-left: 4%">
                        <img width="165" height="106" src="images/images/shepard_logo.png" class="cmsms_clients_img" alt="shepard_logo" />
                    </li>
                    <li style="float: left; list-style:none; padding-left: 4%">
                        <img width="165" height="106" src="images/images/whiteblack_logo.png" class="cmsms_clients_img" alt="whiteblack_logo" />
                    </li>
                </ul>
            </div>
         
        </div>
            
        <div role="complementary" id="sidebar">
            <div class="one_first">
                <aside class="widget widget_recent_entries" id="recent-posts-2">
                    <ul>
                        <li>
                            <a title="Our Team Members" href="open-post.html">{{language.programmersLinkPayments}}</a>
                        </li>
                        <li>
                            <a title="Our Team Members" href="open-post.html">{{language.programmersLinkIntegration}}</a>
                        </li>
                        <li>
                            <a title="How We Can Help You" href="open-post.html">{{language.programmersLinkDocumentation}}</a>
                        </li>
                        <li>
                            <a title="Standard Post With an Image" href="open-post.html">{{language.programmersLinkAPIReference}}</a>
                        </li>
                        <li>
                            <a title="Standard Post Without Image" href="open-post.html">{{language.programmersLinkGetStaterd}}</a>
                        </li>
                        <li>
                            <a title="Video post format" href="open-post.html">{{language.programmersLinkTests}}</a>
                        </li>
                        <li>
                            <a title="Video post format" href="open-post.html">{{language.programmersLinkAPILibraries}}</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="cl"></div>
    </div>    
</div>

