<script type="text/javascript">
    
        $(document).ready(function() { 
            var validation = {
                isNotEmpty:function (str) {
                    var pattern =/\S+/;
                    return pattern.test(str);  // returns a boolean
                },
                isNumber:function(str) {
                    var pattern = /^\d+$/;
                    return pattern.test(str);  // returns a boolean
                },
                isSame:function(str1,str2){
                    return str1 === str2;
                }
            };   
    
            $("#cmdSend").click(function(){
    
                if($("#txtcardnumber").val().length != 10) {
                    swal('Erro', 'Por favor, digite o numero do cartão correctamente', 'warning');
                    return;
                }
    
                $("#depositSpinner").css('visibility', 'visible');
                $("#cmdSend").attr('disabled', 'disabled');
    
                var intv = setInterval(SendDeposit, 1000);
                function SendDeposit() {
                    $.ajax({
                            type: "POST",
                            url: "senddpfetop",
                            async: false,
                            data: { cardn : $("#txtcardnumber").val(), description : $("#txtdescription").val() },
                            success: function(response) { 
                                if(response['statusCode'] != 200) {
                                    clearInterval(intv);
                                    $("#depositSpinner").css('visibility', 'hidden');
                                    $("#cmdSend").removeAttr('disabled');
                                    swal('Erro', response['message'], 'warning');
                                }
                                else {
                                    clearInterval(intv);
                                    window.location.href = response['message'];
                                }
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                clearInterval(intv);
                                $("#depositSpinner").css('visibility', 'hidden');
                                $("#cmdSend").removeAttr('disabled');
                                // TODO improve it. validate the type of error
                                swal('Erro', 'Ocorreu um erro interno por favor tente mais tarde', 'warning');
                            }
                    });
                }
            })
        })
    
    </script>
    <p style='text-align: center; font-family: "Times New Roman", Times, serif;font-size: 30px'>Deposito a Partir de Cartão eTopUp</p>
    <section style="margin: 0 auto; width: 45%; background-color:#f4f3ef; padding: 2%; text-align: center">
        <span id="lblerrorss" style="color:red;font-size: 10px"> </span>
    </section>
    <div style="width: 100%; margin: 0 auto">
        <section style="margin: 0 auto; width: 45%; background-color:#f4f3ef; padding: 2%">
            <h6>Informações do Cartão</h6>
                <table border="0px" style="width: 100%;border-collapse:separate;border-spacing:0px"> 
                    <tr>
                        <td style="padding: 2%">
                            <input type="text" id="txtcardnumber" placeholder="Número do Cartão E-TopUp" style="width: 100%; height: 45px"> 
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 2%">
                            <input type="text" id="txtdescription" placeholder="Descrição do seu depósito" style="width: 100%; height: 45px"> 
                        </td>
                    </tr>
                </table>
            <hr />
        </section>
    
        <section style="margin: 0 auto; width: 45%; padding: 2%">
            <span style="font-size:10px">Verifique as <a style="font-size:10px" href="#" >Politicas de Privacidade do Ekumbu</a> e se seus metodo de pagamento esta correcto. O câmbio usado corresponde ao câmbio usado pelos bancos mundialmente.</span>
        </section>
    
        <section style="margin: 0 auto; width: 45%; padding: 2%">
            <button class="subscribe btn btn-success btn-lg btn-block" type="button" id="cmdSend">Depositar <i id="depositSpinner" class="fa fa-spinner fa-spin" style="font-size:28px;visibility:hidden"></i></button>   
        </section>
    </div>
    
    <a href="/dashboard" >Cancelar</a>