<script type="text/javascript">

    $(document).ready(function() { 
        $("#topaywthT").html(accounting.formatMoney("{{toPaywtotT}}", { symbol: "{{currency}}",  format: "%v %s" }));
        $("#feeValue").html(accounting.formatMoney("{{feeValue}}", { symbol: "{{currency}}",  format: "%v %s" }));
        $("#totalToPay").html(accounting.formatMoney("{{totaltopay}}", { symbol: "{{currency}}",  format: "%v %s" }));

        $("#cmdSend").click(function(){
            $("#depositSpinner").css('visibility', 'visible');
            $("#cmdSend").attr('disabled', 'disabled');

            var intv = setInterval(SendDeposit, 1000);
            function SendDeposit() {
                $.ajax({
                        type: "POST",
                        url: "senddeposit",
                        async: false,
                        success: function(response) { 
                            if(response['statusCode'] != 200) {
                                clearInterval(intv);
                                $("#depositSpinner").css('visibility', 'hidden');
                                $("#cmdSend").removeAttr('disabled');
                                $("#lblerrorss").text(response['message']);
                            }
                            else {
                                clearInterval(intv);
                                window.location.href = response['message'];
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            clearInterval(intv);
                            $("#depositSpinner").css('visibility', 'hidden');
                            $("#cmdSend").removeAttr('disabled');
                            $("#lblerrorss").text('Ocorreu um erro interno por favor tente mais tarde');
                        }
                });
            }
        })
    })

</script>
    <section style="margin: 0 auto; width: 45%; background-color:#f4f3ef; padding: 2%; text-align: center">
        <span id="lblerrorss" style="color:red;font-size: 10px"> </span>
    </section>
<div style="width: 100%; margin: 0 auto">
    <section style="margin: 0 auto; width: 45%; background-color:#f4f3ef; padding: 2%">
        <h6>Verique antes de enviar</h6>

            <table border="0px" style="width: 100%;border-collapse:separate;border-spacing:0px"> 
                <tr>
                    <td style="padding: 2%">
                        Valor a Receber
                    </td>

                    <td align="right" style="padding: 2%">
                        {{toreceive}}
                    </td>
                </tr>

                <tr>
                    <td style="padding: 2%">
                        Cambio
                    </td>

                    <td align="right" style="padding: 2%">
                        {{rate}} AOA
                    </td>
                </tr>
            </table>
        <hr />
        <h6>Depositando com</h6>
        <table border="0px" style="width: 100%;border-collapse:separate;border-spacing:0px">
            <tr>
                <td style="padding: 2%">
                    Cartão x-4920
                </td>
                <td align="right" style="padding: 2%">
                    <span id="topaywthT"></span>
                </td>
            </tr>
            <tr>
                <td style="padding: 2%">
                    Taxa ({{feePercent}}%)
                </td>
                <td align="right" style="padding: 2%">
                    <span id="feeValue"></span>
                </td>
            </tr>

            <tr style="background-color: white;">
                <td style="padding: 2%">
                    Total a Pagar
                </td>
                <td align="right" style="padding: 2%">
                    <span id="totalToPay" style="font-weight: bold;"> </span>
                </td>
            </tr>

        </table>
    </section>

    <section style="margin: 0 auto; width: 45%; padding: 2%">
        <span style="font-size:10px">Verifique as <a style="font-size:10px" href="#" >Politicas de Privacidade do Ekumbu</a> e se seus metodo de pagamento esta correcto. O câmbio usado corresponde ao câmbio usado pelos bancos mundialmente.</span>
    </section>

    <section style="margin: 0 auto; width: 45%; padding: 2%">
        <button class="subscribe btn btn-success btn-lg btn-block" type="button" id="cmdSend">Efectuar Depósito <i id="depositSpinner" class="fa fa-spinner fa-spin" style="font-size:28px;visibility:hidden"></i></button>   
    </section>
</div>

<a href="/choosedpt" >Cancelar</a>