<!-- _________________________ Start Middle _________________________ -->
<div id="middle">
    <div id="top">
        <div class="wrap_lay_slider">
            <script>
                var lsjQuery = jQuery;
            </script>
            <script>
                lsjQuery(document).ready(function() {
                    if(typeof lsjQuery.fn.layerSlider == "undefined") {
                        lsShowNotice('layerslider_1','jquery');
                    } else { 
                        lsjQuery("#layerslider_1").layerSlider({skin: 'lawbusiness', skinsPath: "css/skins/"}) 
                    }
                }); 
            </script>
            <div id="layerslider_1" class="ls-wp-container" style="width:1920px;height:550px;margin:0 auto;margin-bottom: 0px;">
                <div class="ls-slide" data-ls=" transition2d: all;">
                    <img src="images/blank.gif" data-src="images/images/slider_image_1.jpg" class="ls-bg" alt="Slide background" />
                    <img class="ls-l" style="top:122px;left:495px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-50;offsetxout:0;offsetyout:-50;" src="images/blank.gif" data-src="images/mmlogo.png" alt="" />
                    <p class="ls-l" style="top:229px;left:262px;text-shadow: 1px 1px 1px #333;font-family:Playfair Display;font-size:72px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetxout:0;">{{language.mainSlider1Title}}</p>
                    <p class="ls-l" style="top:338px;left:259px;text-shadow: 1px 1px 1px #333;font-family:Playfair Display;font-size:32px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:50;offsetxout:0;offsetyout:50;">{{language.mainSlider1Description}}</p>
                </div>
                <div class="ls-slide" data-ls=" transition2d: all;">
                    <img src="images/blank.gif" data-src="images/images/slider_image_2.jpg" class="ls-bg" alt="Slide background" />
                    <p class="ls-l" style="top:198px;left:372px;font-family:Playfair Display;font-size:84px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-40;durationin:300;delayin:600;offsetxout:0;offsetyout:40;">{{language.mainSlider2Title}}</p>
                    <p class="ls-l" style="top:311px;left:381px;font-family:Playfair Display;font-size:30px;color:#ffffff;white-space: nowrap;background-color:#EB2E0E;padding: 0 30px 0 5px;" data-ls="offsetxin:40;durationin:400;delayin:1000;offsetxout:-40;">{{language.mainSlider2DescriptionPart1}}</p>
                    <p class="ls-l" style="top:381px;left:376px;font-family:verdana;font-size:15px;line-height:22px;color:#cccccc;white-space: nowrap;" data-ls="durationin:300;delayin:1200;">{{language.mainSlider2DescriptionPart2}}<br>{{language.mainSlider2DescriptionPart3}}</p>
                </div>
                <div class="ls-slide" data-ls=" transition2d: all;">
                    <img src="images/blank.gif" data-src="images/images/slider_image_4.jpg" class="ls-bg" alt="Slide background" />
                    <p class="ls-l" style="top:119px;left:378px;font-family:Playfair Display;font-size:84px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-40;durationin:300;delayin:600;offsetxout:0;offsetyout:40;">{{language.mainSlider3Title}}</p>
                    <p class="ls-l" style="top:310px;left:385px;font-family:verdana;font-size:15px;line-height:22px;color:#cccccc;white-space: nowrap;" data-ls="durationin:300;delayin:1200;">{{language.mainSlider3DescriptionPart1}}<br>{{language.mainSlider3DescriptionPart2}}<br>{{language.mainSlider3DescriptionPart3}}</p>
                    <div class="ls-l" style="top:401px;left:384px;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:40;durationin:300;delayin:1500;offsetxout:0;offsetyout:-40;">
                        <a href="#" class="button">{{language.sliderbuttonlearnmore}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content_wrap fullwidth">
        <!--_________________________ Start Content _________________________ -->
        <div id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">
                    <div class="one_fourth first_column">
                        <div>
                            <h3>
                                <span class="title_icon">
                                    <span class="icon-02"></span>
                                </span>
                                <span class="title_content">{{language.slider1title}}</span>
                            </h3>
                            <p>{{language.slider1description}}</p>
                            <p>
                                <a class="more_button" href="#">{{language.sliderbuttonlearnmore}}</a>
                            </p>
                        </div>
                    </div>
                    
                    <div class="one_fourth">
                        <div>
                            <h3>
                                <span class="title_icon">
                                    <span class="icon-01"></span>
                                </span>
                                <span class="title_content">{{language.slider2title}}</span>
                            </h3>
                            <p>{{language.slider2description}}</p>
                            <p>
                                <a class="more_button" href="#">{{language.sliderbuttonlearnmore}}</a>
                            </p>
                        </div>
                    </div>
                    
                    <div class="one_fourth">
                        <div>
                            <h3>
                                <span class="title_icon">
                                    <span class="icon-03"></span>
                                </span>
                                <span class="title_content">{{language.slider3title}}</span>
                            </h3>
                            <p>{{language.slider3description}}</p>
                            <p>
                                <a class="more_button" href="#">{{language.sliderbuttonlearnmore}}</a>
                            </p>
                        </div>
                    </div>
                    
                    <div class="one_fourth">
                        <div>
                            <h3>
                                <span class="title_icon">
                                    <span class="icon-04"></span>
                                </span>
                                <span class="title_content">{{language.slider4title}}</span>
                            </h3>
                            <p>{{language.slider4description}}</p>
                            <p>
                                <a class="more_button" href="#">{{language.sliderbuttonlearnmore}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="one_first first_column">
                        <div></div>
                    </div>
                    <div class="one_first first_column">
                        <div class="featured_block">
                            <div class="featured_content">
                                <h2>
                                    <span style="font-size: x-large;">{{language.watchvideodescription}}</span>
                                </h2>
                            </div>
                            <div class="featured_button">
                                <div class="featured_button_inner">
                                    <a class="button_large csstransition" href="#" title="Download" target="_blank">{{language.watchvideobutton}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="one_first first_column">
                        <div>
                            <h3>{{language.companiesUsingEkumbu}}</h3>
                            <div class="cmsms_clients_slider" id="cmsms_clients_slider553e45022ef2d">
                                <script>
                                    jQuery(document).ready(function() {
                                        jQuery('#cmsms_clients_slider553e45022ef2d').cmsmsClientsSlider({
                                            sliderBlock : '#cmsms_clients_slider553e45022ef2d', 
                                            sliderItems : '.cmsms_clients_items', 
                                            clientsInPage : 5
                                        });
                                    });
                                </script>
                                <a href="javascript:void(0);" class="cmsms_clients_slider_arrow_prev"></a>
                                <a href="javascript:void(0);" class="cmsms_clients_slider_arrow_next"></a>
                                <ul class="cmsms_clients_items">
                                    <li class="cmsms_clients_item">
                                        <img width="165" height="106" src="images/images/bigfish_logo.png" class="cmsms_clients_img" alt="bigfish_logo" />
                                    </li>
                                    <li class="cmsms_clients_item">
                                        <img width="165" height="106" src="images/images/clevarminds_logo.png"  class="cmsms_clients_img" alt="clevarminds_logo" />
                                    </li>
                                    <li class="cmsms_clients_item">
                                        <img width="165" height="106" src="images/images/clockstone_logo.png" class="cmsms_clients_img" alt="clockstone_logo" />
                                    </li>
                                    <li class="cmsms_clients_item">
                                        <img width="165" height="106" src="/images/images/halsey_logo.png" class="cmsms_clients_img" alt="halsey_logo" />
                                    </li>
                                    <li class="cmsms_clients_item">
                                        <img width="165" height="106" src="images/images/increase_logo.png" class="cmsms_clients_img" alt="increase_logo" />
                                    </li>
                                    <li class="cmsms_clients_item">
                                        <img width="165" height="106" src="images/images/magique_logo.png" class="cmsms_clients_img" alt="magique_logo" />
                                    </li>
                                    <li class="cmsms_clients_item">
                                        <img width="165" height="106" src="images/images/newgate_logo.png" class="cmsms_clients_img" alt="newgate_logo" />
                                    </li>
                                    <li class="cmsms_clients_item">
                                        <img width="165" height="106" src="images/images/shepard_logo.png" class="cmsms_clients_img" alt="shepard_logo" />
                                    </li>
                                    <li class="cmsms_clients_item">
                                        <img width="165" height="106" src="images/images/whiteblack_logo.png" class="cmsms_clients_img" alt="whiteblack_logo" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="cl"></div>
    </div>
</div>

<div id="cmsms_latest_bottom_tweets">
    <div class="cmsms_latest_bottom_tweets_inner">
        <span class="tweets_icon"></span>
        <ul class="jta-tweet-list responsiveContentSlider">
            <li class="jta-tweet-list-item">RT @kapilmohan: @cmsmasters Thank you, your team saved my day. Your response to my ticket really helped. Thanks!</li>
            <li class="jta-tweet-list-item">Sitting at the Feet of Power Elite Cmsmasters <a href="http://t.co/J5xbB5YuQO" target="_blank" rel="nofollow">http://t.co/J5xbB5YuQO</a></li>
            <li class="jta-tweet-list-item">RT @verescreer: thanks to @cmsmasters for your support. Great Themes, fast and good help. Regards :)</li>
        </ul>
    </div>
</div>
<script>
    jQuery(document).ready(function() { 
        jQuery('#cmsms_latest_bottom_tweets .jta-tweet-list').cmsmsResponsiveContentSlider( {
            sliderWidth : '100%', 
            sliderHeight : 'auto', 
            animationSpeed : 500, 
            animationEffect : 'fade', 
            animationEasing : 'linear', 
            pauseTime : 7000, 
            activeSlide : 1, 
            touchControls : true, 
            pauseOnHover : false, 
            arrowNavigation : true, 
            slidesNavigation : false
        });
    });
</script>

