<div id="middle">
    <div class="headline" style="background-color:#fbfbfb;">
        <div class="headline_inner">
            <div class="fl">
                <h1>Comerciantes</h1>
            </div>
    <!-- _________________________ Start Breadcrumbs _________________________ -->
            <div class="cmsms_breadcrumbs">
                <a href="/" class="cms_home">Home</a>
                <span class="breadcrumbs_sep"><span></span></span>
                <span>Comerciantes</span>
            </div>
    <!-- _________________________ Finish Breadcrumbs _________________________ -->
        </div>
    </div> 
    
    <div class="content_wrap r_sidebar">
        <div id="content" role="main">
            <div class="entry">
                <div class="entry-content">
                    <div class="cmsms_cc"></div>
                </div>
            </div>
            <div class="one_first first_column" data-folder="column" data-type="">
                <div data-folder="slider" data-type="">
                    <div class="shortcode_slideshow slider_shortcode" id="slideshow_555342bb77c40">
                        <div class="shortcode_slideshow_body" >
                            <script>
                                jQuery(document).ready(function() { 
                                    jQuery('#slideshow_555342bb77c40 .shortcode_slideshow_slides').cmsmsResponsiveContentSlider( {
                                        sliderWidth : '100%', 
                                        sliderHeight : 'auto', 
                                        animationSpeed : 2000, 
                                        animationEffect : 'fade', 
                                        animationEasing : 'easeOutCubic', 
                                        pauseTime : 6000, 
                                        activeSlide : 1, 
                                        pauseOnHover : false, 
                                        touchControls : true, 
                                        slidesNavigation : true, 
                                        slidesNavigationHover : false, 
                                        arrowNavigation : false, 
                                        arrowNavigationHover : false
                                    });
                                });
                            </script>
                            <div class="shortcode_slideshow_container">
                                <ul class="shortcode_slideshow_slides responsiveContentSlider">
                                    <li>
                                        <figure>
                                            <img width="1200" height="675" src="images/slider_image_4.jpg" class="fullwidth" alt="8H0UdTsvRFqe03hZkNJr_New-York---On-the-rock---Empire-State-Building" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <img width="1040" height="586" src="images/slider_image_5.jpg" class="fullwidth" alt="woman_speaking_1040x586" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure>
                                            <img width="1040" height="585" src="images/slider_image_6.jpg" class="fullwidth" alt="agreement_1040x585" />
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>

            <div class="one_first first_column">
                <div class="featured_block">
                    <div class="featured_content">
                        <h2>
                            <span style="font-size: x-large;">Torna-te em um Ekumbu Comerciante, comece a vender mais e melhor</span>
                        </h2>
                    </div>
                    <div class="featured_button">
                        <div class="featured_button_inner">
                            <a class="button_large csstransition" href="#" title="Download" target="_blank">Aderir</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="one_first first_column" data-folder="column" data-type="">
                <div data-folder="text" data-type="">
                    <h2>Person Block</h2>
                </div>
            </div>

            <div class="one_fourth first_column">
                <div data-folder="person" data-type="">
                    <div class="cmsms_our_team_wrap">
                        <div class="wrap_person">
                            <figure>
                                <a href="#" data-group="img_2358" title="Home Page 1" class="preloader">
                                    <img width="470" height="376" src="images/team_person_1.jpg" class="fullwidth" alt="photodune-6076506-happy-businessman-m-1" />
                                </a>
                            </figure>
                            
                        </div>
                        <div class="cmsms_header_wrap">
                            <header class="entry-header">
                                <h5 class="person_title">Jack Simmons</h5>
                                <p class="person_subtitle">Attorney</p>
                            </header>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit met, conteturing elit. Phasellus pellentesque osure risus lacinia tristique Fusce sed massa</p>
                            </div>
                            <div class="cmsms_profile_button">
                                <a href="open-service.html" class="person_button button">
                                    <span>Profile</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="one_fourth">
                <div data-folder="person" data-type="">
                    <div class="cmsms_our_team_wrap">
                        <div class="wrap_person">
                            <figure>
                                <a href="#" data-group="img_2358" title="Home Page 1" class="preloader">
                                    <img width="470" height="376" src="images/team_person_2.jpg" class="fullwidth" alt="blonde_girl_teamlead_original" />
                                </a>
                            </figure>
                            
                        </div>
                        <div class="cmsms_header_wrap">
                            <header class="entry-header">
                                <h5 class="person_title">Karen Dawson</h5>
                                    <p class="person_subtitle">Attorney</p>
                            </header>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit met, conteturing elit. Phasellus pellentesque osure risus lacinia tristique Fusce sed massa</p>
                            </div>
                            <div class="cmsms_profile_button">
                                <a href="open-service.html" class="person_button button">
                                    <span>Profile</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="one_fourth">
                <div data-folder="person" data-type="">
                    <div class="cmsms_our_team_wrap">
                        <div class="wrap_person">
                            <figure>
                                <a href="#" data-group="img_2358" title="Home Page 1" class="preloader">
                                    <img width="470" height="376" src="images/team_person_3.jpg" class="fullwidth" alt="redhead_business_man_original-3" />
                                </a>
                            </figure>
                        
                        </div>
                        <div class="cmsms_header_wrap">
                            <header class="entry-header">
                                <h5 class="person_title">Michael Linden</h5>
                                <p class="person_subtitle">Attorney</p>
                            </header>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit met, conteturing elit. Phasellus pellentesque osure risus lacinia tristique Fusce sed massa</p>
                            </div>
                            <div class="cmsms_profile_button">
                                <a href="open-service.html" class="person_button button">
                                    <span>Profile</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="one_fourth">
                <div data-folder="person" data-type="">
                    <div class="cmsms_our_team_wrap">
                        <div class="wrap_person">
                            <figure>
                                <a href="#" data-group="img_2358" title="Home Page 1" class="preloader">
                                    <img width="850" height="376" src="images/team_person_4.jpg" class="fullwidth" alt="8119741533_06cb5e9882_b" />
                                </a>
                            </figure>
                            
                        </div>
                        <div class="cmsms_header_wrap">
                            <header class="entry-header">
                                <h5 class="person_title">Helga Stevens</h5>
                                <p class="person_subtitle">Attorney</p>
                            </header>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit met, conteturing elit. Phasellus pellentesque osure risus lacinia tristique Fusce sed massa</p>
                            </div>
                            <div class="cmsms_profile_button">
                                <a href="open-service.html" class="person_button button">
                                    <span>Profile</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
            
        <div role="complementary" id="sidebar">
            <div class="one_first">
                <aside class="widget widget_recent_entries" id="recent-posts-2">
                    <ul>
                        <li>
                            <a title="Our Team Members" href="open-post.html">Our Team Members</a>
                        </li>
                        <li>
                            <a title="How We Can Help You" href="open-post.html">How We Can Help You</a>
                        </li>
                        <li>
                            <a title="Standard Post With an Image" href="open-post.html">Standard Post With an Image</a>
                        </li>
                        <li>
                            <a title="Standard Post Without Image" href="open-post.html">Standard Post Without Image</a>
                        </li>
                        <li>
                            <a title="Video post format" href="open-post.html">Video post format</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="one_first">
                <aside class="widget widget_custom_posts_tabs_entries" id="custom-posts-tabs-2">
                    <div class="tab lpr">
                        <ul class="tabs active">
                            <li class="current">
                                <a href="#"><span>Latest</span></a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Popular</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Comments</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab_content">
                            <div class="tabs_tab tab_latest">
                                <ul>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a title="Our Team Members" href="open-post.html">
                                                    <img style="width:50px; height:50px;" title="Our Team Members" alt="Our Team Members" src="img/images/placeholder.jpg" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a title="Our Team Members" href="open-post.html">Our Team Members</a><br />
                                            <small>
                                                <abbr title="23-03-2014" class="published">March 23, 2014</abbr>
                                            </small>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a title="How We Can Help You" href="open-post.html">
                                                    <img style="width:50px; height:50px;" title="How We Can Help You" alt="How We Can Help You" src="img/images/placeholder.jpg" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a title="How We Can Help You" href="open-post.html">How We Can Help You</a><br />
                                            <small>
                                                <abbr title="21-03-2014" class="published">March 21, 2014</abbr>
                                            </small>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a title="Standard Post With an Image" href="open-post.html">
                                                    <img width="50" height="50" title="Standard Post With an Image" alt="Standard Post With an Image" src="img/images/testimonial_6.jpg" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a title="Standard Post With an Image" href="open-post.html">Standard Post With an Image</a><br />
                                            <small>
                                                <abbr title="20-03-2014" class="published">March 20, 2014</abbr>
                                            </small>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabs_tab tab_popular">
                                <ul>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a title="Aside Post Format" href="open-post.html">
                                                    <img style="width:50px; height:50px;" title="Aside Post Format" alt="Aside Post Format" src="img/images/aside.jpg" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <div class="entry-content">
                                                <p>WordPress themes we create possess a special merit for both...</p>
                                            </div>
                                            <small>
                                                <abbr title="06-03-2013" class="published">March 06, 2013</abbr>
                                            </small>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a title="Audio Post Format" href="open-post.html">
                                                    <img width="50" height="50" title="Audio Post Format" alt="Audio Post Format" src="img/images/color_blocks.jpg" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <a title="Audio Post Format" href="open-post.html">Audio Post Format</a><br />
                                            <small>
                                                <abbr title="07-03-2013" class="published">March 07, 2013</abbr>
                                            </small>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                    <li>
                                        <div class="alignleft">
                                            <figure>
                                                <a title="Quote Post Format" href="open-post.html">
                                                    <img style="width:50px; height:50px;" title="Quote Post Format" alt="Quote Post Format" src="img/images/quote.jpg" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="ovh">
                                            <div class="entry-content">
                                                <p>Content management tools have never been more powerful and functional,...</p>
                                            </div>
                                            <small>
                                                <abbr title="04-03-2013" class="published">March 04, 2013</abbr>
                                            </small>
                                        </div>
                                        <div class="cl"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabs_tab tab_comments">
                                <ul>
                                    <li>P.S <span class="color_2">on</span> <a rel="bookmark" href="#">Standard Post With an Image</a>
                                        <small>
                                            <abbr title="10-02-2013" class="published">February 10, 2013</abbr>
                                        </small>
                                        <p>Thats great!</p>
                                    </li>
                                    <li>backdoor <span class="color_2">on</span> <a rel="bookmark" href="#">Video post format</a>
                                        <small>
                                            <abbr title="10-02-2013" class="published">February 10, 2013</abbr>
                                        </small>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque...</p>
                                    </li>
                                    <li>Jack <span class="color_2">on</span> <a rel="bookmark" href="#">Gallery Post Format</a>
                                        <small>
                                            <abbr title="10-02-2013" class="published">February 10, 2013</abbr>
                                        </small>
                                        <p>Great theme, love it!</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <div class="cl"></div>
    </div>    
</div>
