<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-success">
            <div class="panel-heading" style="background-color:#f4f3ef;">
                <ul class="nav nav-tabs" style="border:0;">
                    <li class="active"><a href="#tab1default" data-toggle="tab">CONTA</i></a></li>
                    <li><a href="#tab2default" data-toggle="tab">SEGURANÇA </a></li>
                    <li><a href="#tab3default" data-toggle="tab">CARTÃO</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <div class="panel-group" id="account">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f4f3ef;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#account" href="#profilecollapse1">
                                    Perfil</a>
                                </h4>
                                </div>
                                <div id="profilecollapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6" style="padding: 5%">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <img src='images/profileicon.png' alt="Ekumbu" style="float: center; text-align: center;"/>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <span style="font-weight: bold; font-size: 20px">{{personalInfo.name}}</span>
                                                        <span style="display: block; font-size: 12px; margin-top: 2%">cliente desde Junho de 2015</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f4f3ef;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#account" href="#emailcollapse2">
                                    E-mail</a>
                                </h4>
                                </div>
                                <div id="emailcollapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6" style="padding: 5%">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <img src='images/emailicon.png' alt="Ekumbu" style="float: center; text-align: center;"/>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <span style="font-weight: bold; font-size: 20px">{{personalInfo.email}}</span>
                                                        <span style="display: block; font-size: 12px; margin-top: 2%">email usado para a comunicação com ekumbu e para receber notificações</span>
                                                        <span style="display: block; font-size: 10px; margin-top: 2%"><a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#editemailmodal">editar</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>        
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f4f3ef;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#account" href="#cellphonecollapse3">
                                    Telefone</a>
                                </h4>
                                </div>
                                <div id="cellphonecollapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6" style="padding: 5%">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <img src='images/mobileicon.png' alt="Ekumbu" style="float: center; text-align: center;"/>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <span style="font-weight: bold; font-size: 20px">{{personalInfo.phone}}</span>
                                                        <span style="display: block; font-size: 12px; margin-top: 2%">Telefone usado para comunicação com ekumbu</span>
                                                        <span style="display: block; font-size: 10px; margin-top: 2%"><a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#editphonemodal">editar</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2default">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f4f3ef;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Alterar Senha</a>
                                </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.</div>

                                    <div style="width: 50%; padding: 6%">
                                        <input type="password" placeholder="Senha Actual" name="txtCurrentPassword" id="txtCurrentPassword" style="width: 100%"/>
                                        <input type="password" placeholder="Nova Senha" name="txtNewPassword" id="txtNewPassword" style="width: 100%"/>
                                        <input type="password" placeholder="Confirmar Nova Senha" name="txtNewPasswordConfirm" id="txtNewPasswordConfirm" style="width: 100%"/>

                                        <input type="button" id="cmdChangePasswordRequest" class="button_small" style="width: 100%;" value="Alterar">
                                    </div>
                                    <script type="text/javascript">
                                        $("#cmdChangePasswordRequest").click(function() {
                                            $.ajax({
                                                type: "POST",
                                                url: "/requestchangepassword",
                                                data: {actualpswd: $("#txtCurrentPassword").val() },
                                                async: false,
                                                success: function(response) { 
                                                    if(response['statusCode'] === 200) {
                                                        $('#changePasswordConfirmation').modal({backdrop: 'static', keyboard: false}, 'show'); 
                                                    }
                                                    else {
                                                        swal('Erro',response['message'], 'warning');
                                                    }
                                                }
                                            });
                                        })
                                    </script>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f4f3ef;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Autenticação em dois Passos</a>
                                </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                    <span style="display: block; font-size: 10px; margin-top: 2%"><a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#twowaysauthmodal">editar</a></span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3default">

                        <div class="panel-group" id="card">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f4f3ef;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#card" href="#newcardcollapse1">
                                    Novo Cartão</a>
                                </h4>
                                </div>
                                <div id="newcardcollapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12" style="padding: 5%">
                                                <span>Pode tratar de um novo carta de forma facil clicando no link abaixo. Todas as actividades feitas com o cartão antigo estarão registradas.</span>
                                                <span style="display: block; font-size: 10px; margin-top: 2%"><a href="#">novo cartão</a></span>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f4f3ef;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#card" href="#blockcardcollapse2">
                                    Bloquear</a>
                                </h4>
                                </div>
                                <div id="blockcardcollapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12" style="padding: 5%">
                                                <span>O cartão bloqueado não será util em qualquer actividade que for fazer. Importante bloquear o seu cartão quando achar alguma transação suspeita e contacta-nos em (suporte@ekumbu.com) para cuidarmos da situação.</span>
                                                <span style="display: block; font-size: 10px; margin-top: 2%"><a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#blockcard">bloquear/desbloquar o cartão</a></span>
                                            </div>                                            
                                        </div>
                                    </div>        
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f4f3ef;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#card" href="#authorizecardcollapse3">
                                    Autorização de Pagamentos</a>
                                </h4>
                                </div>
                                <div id="authorizecardcollapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12" style="padding: 5%">
                                                <span>Autorização de pagamentos é recomendada porque permite que todo pagamento com o seu cartão, seja autorizado por um código que é enviado no momento da compra para o seu numéro registrado no sistema. Deixe sempre a autorização por SMS activada para segurança dos seus fundos.</span>
                                                <span style="display: block; font-size: 10px; margin-top: 2%"><a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#authorizemodal">activar autorização</a></span>
                                            </div>                                            
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PHONE Modal -->
<div class="modal modal-fullscreen fade" id="editphonemodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alterar Telefone</h4>
            </div>
            <div class="modal-body">
                <p>
                    Alterando o numéro de telefone, passará a comunicar-se com o Ekumbu pelo numéro que introduzir agora.
                </p>
                <input type="text" name="txtEditPhone" id="txtEditPhone" style="width: 100%" placeholder="novo número">
                <input type="button" id="cmdChangePhone" class="button_small" style="width: 100%;" value="Alterar">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#cmdChangePhone").click(function() {
            $.ajax({
                type: "POST",
                url: "requestchangephone",
                data: {phone: $("#txtEditPhone").val() },
                async: false,
                success: function(response) { 
                    if(response['statusCode'] === 200) {
                        $('#ChangePhoneConfirmationForm').modal({backdrop: 'static', keyboard: false}, 'show'); 
                    }
                    else {
                        swal('Erro',response['message'], 'warning');
                    }
                }
            });
        })
    </script>
</div>

<div class="modal fade" id="ChangePhoneConfirmationForm" style="margin-top: 20%" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
        </div>
        <div class="modal-body">
            <p>
                Recebeu uma SMS no número que inseriu, por favor digite o código abaixo. O código tem a válidade de 10 minutos
            </p>
            <input type="text" name="txtConfirmPhoneCode" id="txtConfirmPhoneCode" style="width: 100%"/>
        </div>
        <div class="modal-footer">
            <input type="button" id="cmdConfirmChangePhone" class="button_small" style="width: 100%;" value="Confirmar">
        </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#cmdConfirmChangePhone").click(function() {
            $.ajax({
                type: "POST",
                url: "validatechangephone",
                data: { phone: $("#txtEditPhone").val(), token: $("#txtConfirmPhoneCode").val() },
                async: false,
                success: function(response) { 
                    if(response['statusCode'] === 200) {
                        window.location.href = response['message'];
                    }
                    else {
                        swal('Erro',response['message'], 'warning');
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    //Occoreu um erro interno por favor tente mais tarde
                    swal('Erro',errorThrown, 'warning');
                }
            });
        })
    </script>
</div>

<!-- END PHONE Modal -->

<!-- EMAIL Modal -->
<div class="modal modal-fullscreen fade" id="editemailmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alterar Email</h4>
            </div>
            <div class="modal-body">
                <p>
                    Alterando o seu email, passará a comunicar-se com o Ekumbu a partir do email que introduzir abaixo.
                </p>
                <input type="text" name="txtEditEmail" id="txtEditEmail" style="width: 100%" placeholder="novo email">
                <input type="button" id="cmdChangeEmail" class="button_small" style="width: 100%;" value="Alterar">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#cmdChangeEmail").click(function() {
            $.ajax({
                type: "POST",
                url: "/requestchangeemail",
                data: {email: $("#txtEditEmail").val() },
                async: false,
                success: function(response) { 
                    if(response['statusCode'] === 200) {
                        document.getElementById("cmdChangeEmail").disabled = false;
                        swal('Feito!',response['message'], 'success');
                    }
                    else {
                        swal('Erro',response['message'], 'warning');
                    }
                }
            });
        })
    </script>
</div>
<!-- END EMAIL Modal -->

<!-- CONFIRM CHANGE PASSWORD Modal -->
<div class="modal fade" id="changePasswordConfirmation" style="margin-top: 20%" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
        </div>
        <div class="modal-body">
            <p>
                Recebeu uma SMS no número que inseriu, por favor digite o código abaixo. O código tem a válidade de 10 minutos
            </p>
            <input type="text" name="txtConfirmChangePasswordToken" id="txtConfirmChangePasswordToken" style="width: 100%"/>
        </div>
        <div class="modal-footer">
            <input type="button" id="cmdChangePasswordConfirmation" class="button_small" style="width: 100%;" value="Confirmar">
        </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#cmdChangePasswordConfirmation").click(function() {
            $.ajax({
                type: "POST",
                url: "validatechangepassword",
                data: { newpassword: $("#txtNewPasswordConfirm").val(), token: $("#txtConfirmChangePasswordToken").val() },
                async: false,
                success: function(response) { 
                    if(response['statusCode'] === 200) {
                        window.location.href = response['message'];
                    }
                    else {
                        swal('Erro',response['message'], 'warning');
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    //Occoreu um erro interno por favor tente mais tarde
                    swal('Erro',errorThrown, 'warning');
                }
            });
        })
    </script>
</div>

<div class="modal fade bs-example-modal-sm" id="twowaysauthmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Aut. em dois Passos</h4>
            </div>
            <div class="modal-body">
                <label class="switch-light switch-candy" onclick="ChangeTwoWaysAuthStatus('{{security.twowayauth}}')">
                    <input type="checkbox" {{security.twowayauth}}>
                    <strong style="margin-bottom: 3%">
                        Activar/Desactivar
                    </strong>
                    <span>
                        <span>Inativo</span>
                        <span>Activo</span>
                        <a></a>
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>

<script lang="javascript">
    function ChangeTwoWaysAuthStatus(currentStatus) {
        var statusString = 'null';

        if(currentStatus === "none") {
            statusString = "Activando autenticação em dois passos, receberá uma SMS com um código de autorização toda vez que for acesar a sua conta"
        }
        else {
            statusString = "Desativando autenticação em dois passos, terá acesso a sua conta sem autorização por SMS. Não Recomendado!"
        }

        swal({
                title: "Tem a certeza? ", 
                text: statusString,   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Sim",   
                cancelButtonText: 'Não',
                closeOnConfirm: true 
            }).then(function () {
                $.ajax({
                    type: "POST",
                    url: "/changetwowaysauth",
                    async: false,
                    data: { status: currentStatus },
                    success: function(response) { 
                        if(response['statusCode'] != 200) {
                            swal('Erro',response['message'], 'warning');
                        }
                        else {
                            window.location.href = response['message'];
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        swal('Occoreu um erro interno por favor tente mais tarde');
                        window.location.href = 'profile';
                    }
                });
            }, function (dismiss) {
            if (dismiss === 'cancel') {
                window.location.href = 'profile';
            }
        });
        
    }
</script>

<div class="modal fade bs-example-modal-sm" id="authorizemodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Autorizar Pagamentos</h4>
          </div>
          <div class="modal-body">
              <span id="smsconfirmationMessage"></span>
              <label class="switch-light switch-candy" onclick="ChangeSMSConfirmation('{{security.smsconf}}')">
                  <input type="checkbox" id="checkSMSconfirm" {{security.smsconf}}>
                  <strong>
                      Autorizar
                  </strong>
                  <span>
                      <span>Inativo</span>
                      <span>Activo</span>
                      <a></a>
                  </span>
              </label>
          </div>
      </div>
    </div>
  </div>

  <script lang="javascript">
    function ChangeSMSConfirmation(currentStatus) {
        var statusString = 'null';

        if(currentStatus === "none") {
            statusString = "Activando a confirmação por SMS, receberá uma SMS para autorizar cada pagamentos que for fazer."
        }
        else {
            statusString = "Desativando a confirmação por SMS, seus pagamentos não precisarão de autorização por SMS. Não Recomendado!"
        }

        swal({ 
            title: "Tem a certeza? ", text: statusString,   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Sim",   
            cancelButtonText: 'Não',
            closeOnConfirm: false }).then(function () {
                $.ajax({
                    type: "POST",
                    url: "changesmsconfirmation",
                    async: false,
                    data: { status: currentStatus },
                    success: function(response) { 
                        if(response['statusCode'] != 200) {
                            swal('Erro',response['message'], 'warning');
                        }
                        else {
                            window.location.href = 'profile';
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        swal('Occoreu um erro interno por favor tente mais tarde');
                        window.location.href = 'profile';
                    }
                });
            },
            function (dismiss) {
            if (dismiss === 'cancel') {
                window.location.href = 'profile';
            }
        });
    }
</script>

<div class="modal fade bs-example-modal-sm" id="blockcard" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Bloquear o Cartão</h4>
          </div>
          <div class="modal-body">
              <label class="switch-light switch-candy" onclick="BlockCard('{{security.blocked}}')">
                  <input type="checkbox" {{security.blocked}}>
                  <strong>
                      Bloquear
                  </strong>
                  <span>
                      <span>Inativo</span>
                      <span>Activo</span>
                      <a></a>
                  </span>
              </label>
          </div>
      </div>
    </div>
  </div>

  <script lang="javascript">
    function BlockCard(currentStatus) {
        var statusString = 'null';

        if(currentStatus === "none") {
            statusString = "Bloqueando o seu cartão, não consigará efectuar nenhum pagamento"
        }
        else {
            statusString = "Desbloqueando o seu cartão, poderá efectuar pagamentos com o mesmo"
        }

        swal({ 
            title: "Tem a certeza? ", text: statusString,   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Sim",   
            cancelButtonText: 'Não',
            closeOnConfirm: false }).then(function () {
                $.ajax({
                    type: "POST",
                    url: "changeblockstatus",
                    async: false,
                    data: { status: currentStatus },
                    success: function(response) { 
                        if(response['statusCode'] != 200) {
                            swal('Erro',response['message'], 'warning');
                        }
                        else {
                            window.location.href = 'profile';
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        swal('Occoreu um erro interno por favor tente mais tarde');
                        window.location.href = 'profile';
                    }
                });

            } ,function (dismiss) {
            if (dismiss === 'cancel') {
                window.location.href = 'profile';
            }
        });
    }
</script>