<!-- _________________________ Start Middle _________________________ -->
<div id="middle">
    <div class="content_wrap fullwidth">
        <!--_________________________ Start Content _________________________ -->
        <div id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">
                    <div class="loginmodal-container">
                        <h2 class="fs-title" style="text-align: center">Quase terminado!</h2>
                        <div style="text-align: center; margin-bottom:2%">
                            <img src="images/signupsc.png"  class="cmsms_clients_img" alt="clevarminds_logo" />
                        </div>
                        
                        <p>
                            Para concluir o processo de alteração do email na sua conta, insira o código que recebeu por SMS no seu número registrado na sua conta Ekumbu.
                        </p>
                        <input type="text" name="txtToken" id="txtToken" style="width: 100%"/>
                        <input type="button" id="cmdConfirmChangeEmail" class="button_small" style="width: 100%;" value="Confirmar">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cl"></div>
    <script type="text/javascript">
        $("#cmdConfirmChangeEmail").click(function() {
            $.ajax({
                type: "POST",
                url: "/validatechangemail",
                data: { token: $("#txtToken").val() },
                async: false,
                success: function(response) { 
                    if(response['statusCode'] === 200) {
                        window.location.href = response['message'];
                    }
                    else {
                        swal('Erro',response['message'], 'warning');
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    swal('Erro', 'Occoreu um erro interno por favor tente mais tarde', 'warning');
                }
            });
        })
    </script>
</div>