<div style="width: 100%; margin: 0 auto">
    <section style="margin: 0 auto; width: 45%; background-color:#f4f3ef; padding: 2%">
        Deposito efectuado, com sucesso. Receberá um email de confirmação.
        <br/>
        O código de rastreamento para o deposito é <b>{{trackingID}}</b>
    </section>
</div>
<a href="/choosedpt" >Voltar ao Painel</a>