<script type="text/javascript">

    $(document).ready(function() { 
        var validation = {
            isNotEmpty:function (str) {
                var pattern =/\S+/;
                return pattern.test(str);  // returns a boolean
            },
            isNumber:function(str) {
                var pattern = /^\d+$/;
                return pattern.test(str);  // returns a boolean
            },
            isSame:function(str1,str2){
                return str1 === str2;
            }
        };   

        $("#cmdSend").click(function(){

            if(!validation.isNumber($("#txtcardReceiver").val()) || $("#txtcardReceiver").val().length != 16) {
                $("#lblerrorss").text('Por favor, digite o numero do cartão correctamente');
                return;
            }

            $("#depositSpinner").css('visibility', 'visible');
            $("#cmdSend").attr('disabled', 'disabled');

            var intv = setInterval(SendDeposit, 1000);
            function SendDeposit() {
                $.ajax({
                        type: "POST",
                        url: "sendmaction",
                        async: false,
                        data: { cardsn : $("#txtcardReceiver").val(), amount: $("#txtamount").val(), description : $("#txtdescription").val() },
                        success: function(response) { 
                            if(response['statusCode'] != 200) {
                                clearInterval(intv);
                                $("#depositSpinner").css('visibility', 'hidden');
                                $("#cmdSend").removeAttr('disabled');
                                $("#lblerrorss").text(response['message']);
                            }
                            else {
                                clearInterval(intv);
                                window.location.href = response['message'];
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            clearInterval(intv);
                            $("#depositSpinner").css('visibility', 'hidden');
                            $("#cmdSend").removeAttr('disabled');
                            $("#lblerrorss").text('Ocorreu um erro interno por favor tente mais tarde');
                        }
                });
            }
        })
    })

</script>
<p style='text-align: center; font-family: "Times New Roman", Times, serif;font-size: 30px'>Envie Para Outro Ekumbu</p>
<section style="margin: 0 auto; width: 45%; background-color:#f4f3ef; padding: 2%; text-align: center">
    <span id="lblerrorss" style="color:red;font-size: 10px"> </span>
</section>
<div style="width: 100%; margin: 0 auto">
    <section style="margin: 0 auto; width: 45%; background-color:#f4f3ef; padding: 2%">
        <h6>Informações do Receptor</h6>
            <table border="0px" style="width: 100%;border-collapse:separate;border-spacing:0px"> 
                <tr>
                    <td style="padding: 2%">
                        <input type="text" id="txtcardReceiver" placeholder="Número do Cartão Ekumbu que deseja enviar" style="width: 100%; height: 45px"> 
                    </td>
                </tr>
            </table>
        <hr />
        <h6>Envio</h6>
        <table border="0px" style="width: 100%;border-collapse:separate;border-spacing:0px">
            <tr>
                <td style="padding: 2%">
                    <input type="text" id="txtdescription" placeholder="Descrição do Envio" style="width: 100%; height: 45px"> 
                </td>
            </tr>
            <tr>
                <td style="padding: 2%">
                    <input type="text" id="txtamount" placeholder="Montante a Enviar" style="width: 100%; height: 45px"> 
                </td>
            </tr>
        </table>
    </section>

    <section style="margin: 0 auto; width: 45%; padding: 2%">
        <span style="font-size:10px">Verifique as <a style="font-size:10px" href="#" >Politicas de Privacidade do Ekumbu</a> e se seus metodo de pagamento esta correcto. O câmbio usado corresponde ao câmbio usado pelos bancos mundialmente.</span>
    </section>

    <section style="margin: 0 auto; width: 45%; padding: 2%">
        <button class="subscribe btn btn-success btn-lg btn-block" type="button" id="cmdSend">Enviar <i id="depositSpinner" class="fa fa-spinner fa-spin" style="font-size:28px;visibility:hidden"></i></button>   
    </section>
</div>

<a href="/dashboard" >Cancelar</a>