<!-- _________________________ Start Middle _________________________ -->
<div id="middle">
    <div class="content_wrap fullwidth">
        <!--_________________________ Start Content _________________________ -->
        <div id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">
                    <div class="loginmodal-container">
                        <h2 class="fs-title" style="text-align: center">{{language.signupsuccessTitle}}</h2>
                        <div style="text-align: center; margin-bottom:2%">
                            <img src="images/signupsc.png"  class="cmsms_clients_img" alt="clevarminds_logo" />
                        </div>
                        
                        <p>
                            {{language.signupsuccessdescription}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cl"></div>
</div>