<!-- _________________________ Start Middle _________________________ -->
<div id="middle">
    <div class="content_wrap fullwidth">
        <!--_________________________ Start Content _________________________ -->
        <div id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">
                    <div class="loginmodal-container">
                        <h2 class="fs-title" style="text-align: center">{{language.loginTitle}}<span><i id="loginSpinner" class="fa fa-spinner fa-spin" style="font-size:28px; color: black; visibility:hidden"></i></span></h2>
                        <div style="margin-bottom: 3%; text-align: center">
                            <span id="validationError" style="color: red;font-size: 11px"></span>
                        </div>
                        <form >
                            <input type="text" name="email" id="email" placeholder="E-mail" />
                            <input type="password" name="password" id="password" placeholder="{{language.loginPassword}}" />
                            <input type="button" id="btnLogin" name="btnLogin" class="button_small" style="width: 100%;" value="{{language.loginButtonSignIn}}"> 
                            
                        </form>
                        
                        <div class="login-help">
                            <a href="#">{{language.loginForgotPassword}}</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="cl"></div>
</div>

<script type="text/javascript"> 
    $("#btnLogin").click(function() {
        if(!isEmail($("#email").val())) {
            swal({
                title: '{{language.errorTitle}}',
                text: '{{language.loginInvalidEmail}}', 
                type: 'warning'
            });
            return ;
        }
        else if(!$("#password").val()) {
            swal({
                title: '{{language.errorTitle}}',
                text: '{{language.loginInvalidPassword}}', 
                type: 'warning'
            });
            return ;
        }
        else {
            $("#loginSpinner").css('visibility', 'visible');
            $("#btnLogin").attr('disabled', 'disabled');
            
            var intv = setInterval(ProcessLogin, 1000);
            function ProcessLogin() {
                $.ajax({
                    type: "POST",
                    url: "authUser",
                    async: false,
                    data: { email: $("#email").val(), password: $("#password").val() },
                    success: function(response) { 
                        if(response['statusCode'] != 200) {
                            clearInterval(intv);
                            $("#loginSpinner").css('visibility', 'hidden');
                            $("#btnLogin").removeAttr('disabled');
                            swal('Erro', response['message'], 'warning');
                        }
                        else {
                            clearInterval(intv);
                            $("#loginSpinner").css('visibility', 'hidden');
                            window.location.href = response['message'];
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        clearInterval(intv);
                        $("#loginSpinner").css('visibility', 'hidden');
                        $("#btnLogin").removeAttr('disabled');
                        swal("{{language.errorTitle}}", "{{language.internalError}}", 'warning');
                    }
                });
            }
        }
    });
    
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }
</script>