<!-- Custom Tooltip -->
<style>
    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 9px;
        padding: 7px;
        opacity: 0.4;
     }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>

<!-- multistep form -->
<form id="msform" method="POST">
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">{{language.signUpStope1Title}}</li>
		<li>{{language.signUpStope2Title}}</li>
		<li>{{language.signUpStope3Title}}</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">{{language.signUpstep1Title}}</h2>
		<h3 class="fs-subtitle">{{language.signUpstep1description}}</h3>
        <div style="margin-bottom: 3%; text-align: center">
            <span id="validationError" style="color: red;font-size: 11px"></span>
        </div>

        <div style="width: 100%" id="emailtxtcover">
            <input type="email" name="email" id="email" placeholder="Email" />
            <span id="emailttpmsg"></span>
        </div>
    
        <div style="width: 100%;" id="passwordtxtcover">
            <input type="password" name="password" id="password" placeholder="{{language.signUpDataPassword}}" />
            <span id="passwordttpmsg"></span>
        </div>
		
        <div style="width: 100%;" id="cpasswordtxtcover"> 
            <input type="password" name="cpassword" id="cpassword" placeholder="{{language.signUpDataConfirmPassword}}" />
            <span id="cpasswordttpmsg"></span>
        </div>
		
		<input type="button" name="next" id="next1" class="next action-button" value="{{language.signUpButtonNext}}" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">{{language.signUpstep2Title}}</h2>
		<h3 class="fs-subtitle">{{language.signUpstep2Description}}</h3>
        <div style="margin-bottom: 3%; text-align: center">
            <span id="validationError2" style="color: red;font-size: 11px"></span>
        </div>

        <div style="width: 100%;" id="fnametxtcover">
            <input type="text" name="fname" id="fname" placeholder="{{language.signUpDatafirstName}}" />
            <span id="fnamettpmsg"></span>
        </div>
		
        <div style="width: 100%;" id="lnametxtcover">
            <input type="text" name="lname" id="lname" placeholder="{{language.signUpDataLastName}}" />
            <span id="lnamettpmsg"></span>
        </div>
		
        <div style="width: 100%"  id="phonetxtcover">
            <input type="text" name="phone" id="phone" placeholder="{{language.signUpDataPhone}}" />
            <span id="phonettpmsg"></span>
        </div>
		
		<input type="button" name="next" id="next2" class="next action-button" value="{{language.signUpButtonNext}}" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">{{language.signUpstep3Title}}</h2>
		<h3 class="fs-subtitle">{{language.signUpstep3SubTitle}}</h3>
        <div style="margin-bottom: 3%; text-align: center">
            <span id="validationError3" style="color: red;font-size: 11px"></span>
        </div>
        <p><span>{{language.signUpStep3Description}}</span></p>
        <input type="button" id="finishit" class="previous action-button" value="{{language.signUpFinalizeButton}}" />
		
	</fieldset>
</form>

<script type="text/javascript"> 

    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
        
        if(!validateFields(this.id)) {
            return false;
        }

        if(animating) return false;
        animating = true;
        
        current_fs = $(this).parent();
        next_fs = $(this).parent().next();
        
        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
        
        //show the next fieldset
        next_fs.show(); 

        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'transform': 'scale('+scale+')'});
                next_fs.css({'left': left, 'opacity': opacity});
            }, 
            duration: 50, 
            complete: function(){
                current_fs.hide();
                animating = false;
            }, 
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".submit").click(function(){
        return false;
    })    

    $("#email").on('keyup', function() {
        var em = $("#email").val();
        if(!isEmail(em)) {
            $("#email").addClass("failValidation");
        }
        else {
            $('#email').removeClass('failValidation');
        }
    });

    $("#email").blur(function(e){
        var em = $("#email").val();
        if(!isEmpty(em)) {
            if(!isEmail(em)) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signupInvalidEmail}}", 
                    type: 'warning'
                });
                return false;
            }
        }
    });

    $("#password").bind('keyup', function(event) {
        var em = $("#password").val();
        if(!validatePassword(em)) {
            $("#password").addClass("failValidation");
        }
        else {
            $('#password').removeClass('failValidation');
        }
    });

    $("#password").blur(function(e){
        var em = $("#password").val();
        if(!isEmpty(em)) {
            if(!validatePassword(em)) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signupInvalidpassword}}", 
                    type: 'warning'
                });
                return false;
            }
        }
    });

    $("#cpassword").bind('keyup', function(event) {
        var em = $("#cpassword").val();
        if(!validatePassword(em)) {
            $("#cpassword").addClass("failValidation");
        }
        else {
            $('#cpassword').removeClass('failValidation');
        }
    });

    $("#cpassword").blur(function(e){
        var em = $("#cpassword").val();
        if(!isEmpty(em)) {
            if(!validatePassword(em)) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signupInvalidpassword}}", 
                    type: 'warning'
                });
                return false;
            }
        }
    });

    $("#fname").bind('keyup', function(event) {
        var em = $("#fname").val();
        if(em.length < 3) {
            $("#fname").addClass("failValidation");
        }
        else {
            $('#fname').removeClass('failValidation');
        }
    });

    $("#fname").blur(function(e){
        var em = $("#fname").val();
        if(!isEmpty(em)) {
            if(em.length < 3) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signupInvalidfirstname}}", 
                    type: 'warning'
                });
                return false;
            }
        }
    });

    $("#lname").bind('keyup', function(event) {
        var em = $("#lname").val();
        if(em.length < 3) {
            $("#lname").addClass("failValidation");
        }
        else {
            $('#lname').removeClass('failValidation');
        }
    });

    $("#lname").blur(function(e){
        var em = $("#lname").val();
        if(!isEmpty(em)) {
            if(em.length < 3) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signupInvalidflastname}}", 
                    type: 'warning'
                });
                return false;
            }
        }
    });

    $("#phone").bind('keyup', function(event) {
        var em = $("#phone").val();
        if(!validatePhone(em)) {
            $("#phone").addClass("failValidation");
        }
        else {
            $('#phone').removeClass('failValidation');
        }
    });

    $("#phone").blur(function(e){
        var em = $("#phone").val();
        if(!isEmpty(em)) {
            if(!validatePhone(em)) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signupInvalidphone}}", 
                    type: 'warning'
                });
                return false;
            }
        }
    });

    function validateFields(whichNext) {

        if(whichNext == 'next1') {
            var eml = $("#email").val();
            var pass = $("#password").val();
            var cpass = $("#cpassword").val();
            var cemail = false;

            if(!isEmail(eml)) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signupinvaliddata}}", 
                    type: 'warning'
                });
                return false;
            }
            
            var intv = setInterval(this, 1000);
            var msgchemail;
            
            $.ajax({
                type: "POST",
                url: "ceema",
                async: false,
                data: { email: eml },
                success: function(response) { 
                    clearInterval(intv);
                    cemail = response['result']; 
                    msgchemail = response['message'];
                },
                error: function(data) {
                    clearInterval(intv);
                    msgchemail = "{{language.internalError}}"
                    cemail = true;
                }
            });
            
            
            if(cemail) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: msgchemail, 
                    type: 'warning'
                });
                return false;
            }

            if(!validatePassword(pass) || !validatePassword(cpass)) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signupInvalidpassword}}", 
                    type: 'warning'
                });
                return false;
            }

            if(pass != cpass) {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signuppasswordshoudbeequal}}", 
                    type: 'warning'
                });
                return false;
            }

        }
        if(whichNext == 'next2') {
            var fname = $("#fname").val();
            var lname = $("#lname").val();
            var phone = $("#phone").val();

            if( (fname.length < 3) || (lname.length < 3) || (!validatePhone(phone)) )  {
                swal({
                    title: '{{language.errorTitle}}',
                    text: "{{language.signupinvaliddata}}", 
                    type: 'warning'
                });
                return false;
            }
        }
        
        return true;
    }

    $("#finishit").click(function() {
        $.ajax({
            type: "POST",
            url: "rgusr",
            async: false,
            data: { email: $("#email").val(), password: $("#password").val(), fname: $("#fname").val(), lname: $("#lname").val(), phone: $("#phone").val() },
            success: function(response) { 
                if(response['statusCode'] != 200) {
                    swal({
                        title: '{{language.errorTitle}}',
                        text: response['message'], 
                        type: 'warning'
                    });
                }
                else {
                    window.location.href = response['message'];
                }
            }
        });
    });

    //TODO take this from here and put on validation file uglyfied
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    function isEmpty(value) {
        return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
    }

    function validatePassword(password) {
        return /[A-Z]+/.test(password) && /[a-z]+/.test(password) &&
                    /[\d\W]/.test(password) && /\S{6,}/.test(password);
    }

    function validatePhone(phone) {
        //TODO validate phone
        return true
        //return /^[a-zA-Z0-9+]$/.test(phone);
    }

</script>