<p style='text-align: center; font-family: "Times New Roman", Times, serif;font-size: 30px'>Selecione o Pais que Dejesa Transferir</p>
<div style="width: 100%; margin: 0 auto">
    <section style="margin: 0 auto; width: 45%; background-color:#f4f3ef; padding: 2%">
        <table style="width: 100%;border-collapse:separate;border-spacing:10px">
        {{#each countries}}
            <tr>
                <td>
                    <img src="images/countries/{{flag}}" style="height: 30px; width: 50px" />
                </td>
                <td>
                    <a href="#" class="next" style="display:inline-flex;border:0px solid black;padding:2%;" id="slcountry" onclick="SelectCountry('{{index}}');"><span>{{name}}</span></a>
                </td>
            </tr>
        {{/each}}
        </table>
    </section>
</div>

<a href="/dashboard" >Cancelar</a>

<script>
    function SelectCountry(ccodeParam) {
        $.ajax({
            type: "POST",
            url: "chcntytranf",
            async: false,
            data: { ccode: ccodeParam },
            success: function(response) { 
                window.location.href = response['message']
            },
            error: function(data) {
                $('#validationError').text = "Occoreu um erro interno por favor tente mais tarde"
            }
        });
    }
</script>