<p style='text-align: center; font-family: "Times New Roman", Times, serif;font-size: 30px'>Selecione o banco em que deseja transferir</p>
<div style="width: 100%; margin: 0 auto">
    <section style="margin: 0 auto; width: 45%; background-color:#f4f3ef; padding: 2%">
        <table style="width: 100%;border-collapse:separate;border-spacing:13px">
            {{#each banks}}
                <tr>
                    <td>
                        <img src="images/bankslogo/{{logo}}" style="height: 20px; width: 40px" />
                    </td>
                    <td>
                        <a href="#" class="next" style="display:inline-flex;border:0px solid black;padding:2%;" id="slbanks" onclick="SelectBankName('{{name}}');"><span>{{name}}</span></a>
                    </td> 
                </tr>
                
            {{/each}}
        </table>
    </section>
</div>

<a href="/dashboard" >Cancelar</a>

<script>
    function SelectBankName(bnameParam) {
        $.ajax({
            type: "POST",
            url: "chbknametranf",
            async: false,
            data: { bankName: bnameParam },
            success: function(response) { 
                window.location.href = response['message']
            },
            error: function(data) {
                $('#validationError').text = "Occoreu um erro interno por favor tente mais tarde"
            }
        });
    }
</script>