<!-- _________________________ Start Middle _________________________ -->
<div id="middle">
    <div class="content_wrap fullwidth">
        <!--_________________________ Start Content _________________________ -->
        <div id="middle_content" role="main">
            <div class="entry">
                <div class="cmsms_cc">
                    <div class="loginmodal-container">
                        <h2 class="fs-title" style="text-align: center">Autorizar Acesso <span><i id="twowaysSpinner" class="fa fa-spinner fa-spin" style="font-size:28px; color: black; visibility:hidden"></i></span></h2>
                        <div style="margin-bottom: 3%; text-align: center">
                            <span id="validationError" style="color: red;font-size: 11px"></span>
                        </div>
                        <form >
                            <input type="text" name="txtToken" id="txtToken" placeholder="Código" />
                            <input type="button" id="btnConfirm" name="btnConfirm" class="button_small" style="width: 100%;" value="Autorizar"> 
                            
                        </form>
                        <div class="login-help">
                            <a href="/signin">Reenviar o Código</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="cl"></div>
</div>

<script type="text/javascript"> 
    $("#btnConfirm").click(function() {
        $("#twowaysSpinner").css('visibility', 'visible');
        $("#btnConfirm").attr('disabled', 'disabled');
        
        var intv = setInterval(ProcessLogin, 1000);
        function ProcessLogin() {
            $.ajax({
                type: "POST",
                url: "/twowayauthaction",
                async: false,
                data: { token: $("#txtToken").val() },
                success: function(response) { 
                    if(response['statusCode'] != 200) {
                        clearInterval(intv);
                        $("#twowaysSpinner").css('visibility', 'hidden');
                        $("#btnConfirm").removeAttr('disabled');
                        swal('Erro', response['message'], 'warning');
                    }
                    else {
                        clearInterval(intv);
                        $("#twowaysSpinner").css('visibility', 'hidden');
                        window.location.href = response['message'];
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    clearInterval(intv);
                    $("#twowaysSpinner").css('visibility', 'hidden');
                    $("#btnConfirm").removeAttr('disabled');
                    swal('Erro', 'Occoreu um erro interno por favor tente mais tarde' , 'warning');
                }
            });
        }
    });
    
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }
</script>