<div style="text-align: center">
    <table style="width: 80%">
        <tr>
            <td style="width: 30%">
                <!--  -->
                <ul style="list-style: none outside none;">
                    <li style="list-style-type: none;"><img src="{{balogo}}" /></li> 
                    <li style="list-style-type: none;">Banco : {{baname}} </li>
                    <li style="list-style-type: none;">Número : {{banumber}}</li>
                    
                </ul>
            </td>

            <td align="left">
                <!--  -->
                <span style="font-size: 12px">
                    Esta conta é usada como recurso de seus pagamentos com o cartão ekumbu. Para alterar remova e adicione uma outra conta.
                    Todos os movimentos efectuados com o seu ekumbu, apareceram no extrato bancario da sua conta com a descricao EKUMBU-TIPO, 
                    aonde o tipo pode ser deposito, pagamento ou transferencia.
                </span>
                <hr />
               <a href="/dashboard" style="font-size: 10px">Remover</a>
            </td>
        </tr>
    </table>
</div>

<a href="/dashboard" >Voltar</a>