<!DOCTYPE html>
<html lang="pt">  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ekumbu</title>
              <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <link rel='stylesheet' href="css/styles.css" type='text/css' media='all' />
        <link rel='stylesheet' href="css/style.css" type='text/css' media='screen' />
        <link rel='stylesheet' href="css/bootstrap-responsive.min.css" type='text/css' media='all' />
        <link rel='stylesheet' href="css/theme.css" type='text/css' media='screen' />
        <link rel='stylesheet' href="css/fonts.css"  type='text/css' media='screen' />
        <link rel='stylesheet' href="css/roundprogress.css"  type='text/css' media='screen' />
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>     
        <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
        <link rel='stylesheet' href="css/login.css" type='text/css' media='all' />

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" />
        <link rel='stylesheet' href="css/languagemenu.css" type='text/css' media='all' />
        <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" type='text/css' media='all' />
    </head>

    <body>
        <div class="container">
            {{> DashboardCustomHeader}}

            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            {{> DashboardSideBar}}  
                        </div>
                        {{! Every view gets inserted here }}
                        {{{content}}}
                    </div>
                </div>
            </div>
            <!--/.wrapper-->
            <div class="footer">
                <div class="container">
                    <b class="copyright">&copy; 2016 Ekumbu </b>
                </div>
            </div>
        </div>
        <script src='js/jquery-1.9.1.min.js' type="text/javascript"></script>
        <script src='js/jquery-ui-1.10.1.custom.min.js' type="text/javascript"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src='js/datatables/jquery.dataTables.js' type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.js"></script>
    </body>

    <script type="text/javascript"> 
        $("#lgout").click(function() {
            $.ajax({
                type: "POST",
                url: "logout",
                async: false,
                data: {},
                success: function(response) { 
                    if(response['statusC'] == 200) {
                        window.location.href = 'signin';
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                }
            });
        });
    </script>
    
    <script type="text/javascript">
     
        window.onload = function () {
            var t;

            window.onload = resetTimer;
            document.onmousemove = resetTimer;
            document.onkeypress = resetTimer;
         
            function logout() {

                swal({ 
                    title: "Sair", text: 'Deseja continuar na sua conta?',   
                    type: "warning",   
                    showCancelButton: true,   
                    confirmButtonColor: "#DD6B55",   
                    allowEscapeKey:false,
                    confirmButtonText: "Sim",   
                    cancelButtonText: 'Não',
                }).then((result) => {
                    if(result.value) {
                        clearTimeout(t);
                        clearInterval(t);
                        $("#confirmpass").modal();
                    }
                    else {
                        LogOut();
                    }
                })
                
            }

            function resetTimer() {
                clearTimeout(t);
                t = setTimeout(logout, 120000);
            }
            
            function LogOut() {
                $.ajax({
                    type: "POST",
                    url: "logout",
                    async: false,
                    success: function(response) { 
                        window.location.href = response['message'];
                    }
                });
            }

            $("#cmdCloseModalConfirmation").click(function() {
                LogOut();
            })

            $("#cmdRelogin").click(function() {
                $.ajax({
                    type: "POST",
                    url: "reAuth",
                    data: {password: $("#password").val() },
                    async: false,
                    success: function(response) { 
                        if(response['statusCode'] === 200) {
                            window.location.href = response['message'];
                        }
                        else {
                            $("#lblValidationReloginError").html(response['message']);
                        }
                    }
                });
            })
        };
        
    </script>   
    <div class="modal modal-fullscreen fade" id="confirmpass" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="cmdCloseModalConfirmation" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmar Senha</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom: 2%; text-align: center">
                        <span id="lblValidationReloginError" style="color: red;font-size: 11px"></span>
                    </div>
                    <input type="password" name="password" id="password" placeholder="Senha">
                    <input type="button" id="cmdRelogin" class="button_small" style="width: 100%;" value="Entrar">
                </div>
            </div>
        </div>
    </div>
</html>