<!DOCTYPE html>
<html>  
<head>  
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ekumbu</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300%7CIndie+Flower:regular%7CPlayfair+Display:regular,italic,700,900&#038;subset=latin,latin-ext' type='text/css' media='all' />
    
    <link rel='stylesheet' href="css/styles.css" type='text/css' media='all' />
    <link rel='stylesheet' href="css/style.css" type='text/css' media='screen' />
    <link rel='stylesheet' href="css/fonts.css"  type='text/css' media='screen' />
    <link rel='stylesheet' href="css/fontello.css" type='text/css' media='screen' />
    <link rel='stylesheet' href="css/adaptive.css" type='text/css' media='screen' />
    <link rel='stylesheet' href="css/retina.css" type='text/css' media='screen' />
    <link rel='stylesheet' href="css/jackbox.css" type='text/css' media='screen' />
    <link rel='stylesheet' href="css/isotope.css" type='text/css' media='screen' />
    <link rel='stylesheet' href="css/languages.css" type='text/css' media='screen' />
    
    <link rel="stylesheet" href="css/dynamic-captions.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/static-captions.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/settings.css" type="text/css" media="screen" />
    <link rel='stylesheet' href="css/contact-form-style.css" type='text/css' media='screen' />
    <link rel='stylesheet' href="css/jquery.jPlayer.css" type='text/css' media='screen' />
    <link rel='stylesheet' href="css/layerslider.css" type='text/css' media='all' />
    <link rel='stylesheet' href="css/merchants.css" type='text/css' media='all' />
    <link rel='stylesheet' href="css/languagemenu.css" type='text/css' media='all' />
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" type='text/css' media='all' />
    
  
    <script src="js/modernizr.custom.all.min.js"></script>	
	<script src="js/jquery-1.11.2.min.js" ></script>
	<script src="js/jquery-migrate-1.2.1.min.js" ></script>
  
    <!--[if lte IE 9]>
        <link rel='stylesheet' href="css/ie.css" type='text/css' media='screen' />
    <![endif]-->

    <style type="text/css">
        body { 
            background-color:#ffffff;
            background-image:none;
            background-position:top center;
            background-repeat:repeat;
            background-attachment : scroll;
        }
        
        #header .header_wrap {
            height : 90px; 
        } 
        
        #header .navi_scrolled_resize .header_wrap {
            height : 60px;
        }
        
        .header_scrolled {
            padding-bottom: 50px;
        }
        
        #header a.logo {
            top : 5px; left : 0px;
        }
        
        #header .logo_wrap a.logo {
            width : 223px; height : 49px; 
        } 
        
        #header .logo_wrap {
            width : 223px; 
        } 
        
        .custom_header {
            top : 0px; right : 0px; 
        } 
        
        #navigation ul,
        #navigation > li.current-menu-item:before, 
        #navigation > li.current-menu-parent:before, 
        #navigation > li.current-menu-ancestor:before {
            top : 88px;
        } 
        
        @media only screen and (max-width : 1024px) { 
            .cmsms_responsive #header .header_wrap { 
                height : auto;
            }
            
            #header .logo_wrap {
                height : 90px;
            }
        }
        
        @media only screen and (max-width : 1023px) {
            #header .h_mt.navi_scrolled.navi_scrolled_resize {
                margin-top : 0;
            }
        }
        
        @media only screen and (max-width : 767px) {
            .cmsms_responsive .header_scrolled {
                padding-bottom : 0;
            }
        }
        
        @media only screen and (max-width : 540px) {
            .cmsms_responsive #header .header_wrap {
                height : auto;
            }
            
            #header .logo_wrap {
                height : auto;
            }
            
            .cmsms_responsive #header a.logo {
                top : auto;
                margin-right : auto;
                margin-left : auto;
                margin-bottom : 25px;
                margin-top : 35px;
            }
        } 
    </style>
</head>  
<body>

    <div id="main" class="csstransition cmsms_inview cmsms_responsive">

        <div class="container">
            {{> CustomHeader}}

            {{> Header}}

            {{{content}}}
             
            {{> Bottom}}

            <a href="javascript:void(0);" id="slide_top" class="icon-video"></a>
        </div>
       
        {{> Footer}}
    </div>

    <script src="js/jquery.easing.min.js" ></script>
    <script src="js/jackbox.js" ></script>
    <script src="js/jackbox-lib.js" ></script>
    <script src="js/jquery.script.js" ></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="js/jquery.gMap.min.js" ></script>
    <script src="js/jquery.isotope.min.js" ></script>
    <script src="js/jquery.isotope.run.js" ></script>
    <script src="js/jquery.jPlayer.min.js" ></script>
    <script src="js/jquery.jPlayer.playlist.min.js" ></script>
    <script src="js/respond.min.js"  ></script>
    <script src="js/jquery.tweet.min.js" ></script>
    <script src="js/jquery.inview.js" ></script>
    <script src="js/jquery.validationEngine-lang.js" ></script>
    <script src="js/jquery.validationEngine.js" ></script>
    <script type='text/javascript' src="js/greensock.js" ></script>
    <script type='text/javascript' src="js/layerslider.kreaturamedia.jquery.js" ></script>
    <script type='text/javascript' src="js/layerslider.transitions.js" ></script>
</body>  
</html>  